<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sourceforge.eclipsetrader.application"
            name="EclipseTrader">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif"/>
         <property
               name="aboutImage"
               value="eclipse_lg.gif"/>
         <property
               name="aboutText"
               value="%productBlurb"/>
      </product>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sourceforge.eclipsetrader.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.sourceforge.eclipsetrader"
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts"
            name="Colors and Fonts"/>
      <page
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.preferences.StartupShutdownPreferencesPage"
            id="net.sourceforge.eclipsetrader.startupAndShutdown"
            name="Startup and Shutdown"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.update.ui.softwareUpdates"
            label="Software Updates"
            visible="true">
         <menu
               id="org.eclipse.update.ui.updateMenu"
               label="Software Updates"
               path="help/group.updates">
            <separator name="group0"/>
            <separator name="group1"/>
         </menu>
         <action
               class="net.sourceforge.eclipsetrader.internal.InstallWizardAction"
               disabledIcon="icons/full/dlcl16/usearch_obj.gif"
               icon="icons/full/elcl16/usearch_obj.gif"
               id="org.eclipse.update.ui.newUpdates"
               label="Find and Install..."
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.internal.ConfigurationManagerAction"
               disabledIcon="icons/full/dlcl16/configs.gif"
               icon="icons/full/elcl16/configs.gif"
               id="org.eclipse.update.ui.configManager"
               label="Manage Configuration..."
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0"
               style="push"/>
      </actionSet>
   </extension>

</plugin>
