<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sourceforge.eclipsetrader.Application">
         </run>
      </application>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sourceforge.eclipsetrader.application"
            name="EclipseTrader">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="aboutImage"
               value="eclipse_lg.gif"/>
         <property
               name="aboutText"
               value="%productBlurb"/>
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.update.ui.softwareUpdates"
            label="%actionSet.label.softwareUpdates"
            visible="true">
         <menu
               id="org.eclipse.update.ui.updateMenu"
               label="%menu.label.softwareUpdates"
               path="help/group.updates">
            <separator name="group0"/>
            <separator name="group1"/>
         </menu>
         <action
               class="net.sourceforge.eclipsetrader.internal.InstallWizardAction"
               disabledIcon="icons/dlcl16/usearch_obj.gif"
               icon="icons/elcl16/usearch_obj.gif"
               id="org.eclipse.update.ui.newUpdates"
               label="%action.label.newUpates"
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.internal.ConfigurationManagerAction"
               disabledIcon="icons/dlcl16/configs.gif"
               icon="icons/elcl16/configs.gif"
               id="org.eclipse.update.ui.configManager"
               label="%action.label.configManager"
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0"
               style="push"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.pasteSpecial"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.pasteSpecial"
            name="%command.name.pasteSpecial"/>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.settings"
            name="%command.name.settings"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
            id="org.eclipse.ui.preferencePages.Appearance"
            name="%page.name.appearance"/>
      <page
            category="org.eclipse.ui.preferencePages.Appearance"
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts"
            name="%page.name.colorsAndFonts"/>
      <page
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.preferences.StartupShutdownPreferencesPage"
            id="net.sourceforge.eclipsetrader.startupAndShutdown"
            name="%page.name.startupAndShutdown"/>
      <page
            category="net.sourceforge.eclipsetrader"
            class="org.eclipse.ui.ExtensionFactory:perspectivesPreferencePage"
            id="org.eclipse.ui.preferencePages.Perspectives"
            name="Perspectives"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/eview16/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="%view.name.progressView"/>
   </extension>

</plugin>
