<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.eclipsetrader.ui.views"
   name="Views"
   version="0.11.1"
   provider-name="Sourceforge.net"
   class="net.sourceforge.eclipsetrader.ui.internal.views.ViewsPlugin">

   <runtime>
      <library name="views.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="net.sourceforge.eclipsetrader"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            icon="icons/stock_watch.gif"
            class="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioView"
            category="trader"
            name="%stockwatch.title"
            id="net.sourceforge.eclipsetrader.ui.views.Portfolio">
      </view>
      <view
            class="net.sourceforge.eclipsetrader.ui.views.news.NewsView"
            icon="icons/macrodef_obj.gif"
            category="trader"
            name="%news.title"
            id="net.sourceforge.eclipsetrader.ui.views.News"/>
      <view
            class="net.sourceforge.eclipsetrader.ui.views.news.NewsBrowser"
            icon="icons/news_tab.gif"
            category="trader"
            name="%news.browser"
            id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"/>
      <view
            allowMultiple="true"
            icon="icons/chart_persp.gif"
            class="net.sourceforge.eclipsetrader.ui.views.charts.HistoryChartView"
            category="trader"
            name="%chart.title1"
            id="net.sourceforge.eclipsetrader.ui.views.ChartView"/>
      <view
            allowMultiple="true"
            icon="icons/sample.gif"
            class="net.sourceforge.eclipsetrader.ui.views.trading.Book"
            name="%book.title"
            id="net.sourceforge.eclipsetrader.ui.views.Book"/>
      <view
            allowMultiple="true"
            icon="icons/chart_persp.gif"
            class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartView"
            name="%chart.title2"
            id="net.sourceforge.eclipsetrader.ui.views.RealtimeChart"/>
      <view
            allowMultiple="false"
            class="net.sourceforge.eclipsetrader.ui.views.indices.IndexView"
            icon="icons/sample.gif"
            name="%indices.title"
            id="net.sourceforge.eclipsetrader.ui.views.indices"/>
      <category
            name="Trader"
            id="trader"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sourceforge.eclipsetrader.TraderPerspective">
         <view
               visible="false"
               id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"
               relationship="stack"
               relative="org.eclipse.ui.editorss"/>
         <view
               visible="false"
               id="net.sourceforge.eclipsetrader.ui.views.ChartView:*"
               relationship="stack"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="net.sourceforge.eclipsetrader.ui.views.Portfolio"
               relationship="stack"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="net.sourceforge.eclipsetrader.ui.views.News"
               relationship="stack"
               relative="news"/>
         <view
               id="net.sourceforge.eclipsetrader.ui.views.indices"
               relative="strips"
               relationship="stack"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader.NewsPerspective">
         <view
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"/>
         <view
               ratio="0.75"
               relationship="bottom"
               relative="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"
               id="net.sourceforge.eclipsetrader.ui.views.News"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.ChartView"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.News"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.Portfolio"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.TraderPerspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.eclipsetrader.ui.views.portfolio.GeneralPreferencePage"
            category="eclipsetrader"
            name="%stockwatch.title"
            id="eclipsetrader.portfolio"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.portfolio.ColorsPreferencePage"
            category="eclipsetrader.portfolio"
            name="%stockwatch.colors"
            id="eclipsetrader.portfolio.colors"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.news.ColorsPreferencePage"
            category="eclipsetrader"
            name="%news.title"
            id="eclipsetrader.news"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.trading.BookPreferencePage"
            category="eclipsetrader"
            name="%book.title"
            id="eclipsetrader.book"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.indices.IndicesPreferencePage"
            category="eclipsetrader"
            name="%indices.title"
            id="eclipsetrader.indices"/>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.Portfolio"
            id="net.sourceforge.eclipsetrader.ui.views.Portfolio.contextMenu">
         <action
               label="%stockwatch.openChart"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group1"
               id="net.sourceforge.eclipsetrader.views.openChart"/>
         <action
               label="%stockwatch.openRealtimeChart"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group2"
               id="net.sourceforge.eclipsetrader.views.openRealtimeChart"/>
         <action
               label="%stockwatch.openPriceBook"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group2"
               id="net.sourceforge.eclipsetrader.views.openPriceBook"/>
         <action
               label="%stockwatch.remove"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group3"
               id="portfolio.remove"/>
         <action
               label="%stockwatch.edit"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group3"
               id="portfolio.edit"/>
         <action
               label="%stockwatch.add"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group3"
               id="portfolio.add"/>
      </viewerContribution>
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.ChartView"
            id="net.sourceforge.eclipsetrader.ui.views.ChartView.contextMenu">
         <action
               label="%chart.bar"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group1"
               id="chart.bar"/>
         <action
               label="%chart.candle"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group1"
               id="chart.candle"/>
         <action
               label="%chart.line"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group1"
               id="chart.line"/>
         <action
               label="%chart.remove"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group3"
               id="chart.remove"/>
         <action
               label="%chart.edit"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group3"
               id="chart.edit"/>
         <action
               label="%chart.add"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group3"
               id="chart.add"/>
      </viewerContribution>
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.RealtimeChart"
            id="net.sourceforge.eclipsetrader.ui.views.RealtimeChart.contextMenu">
         <action
               label="%chart.bar"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group1"
               id="chart.bar"/>
         <action
               label="%chart.candle"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group1"
               id="chart.candle"/>
         <action
               label="%chart.line"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group1"
               id="chart.line"/>
         <action
               label="%chart.remove"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group3"
               id="chart.remove"/>
         <action
               label="%chart.edit"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group3"
               id="chart.edit"/>
         <action
               label="%chart.add"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group3"
               id="chart.add"/>
      </viewerContribution>
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.indices"
            id="net.sourceforge.eclipsetrader.ui.views.indices.contextMenu">
         <action
               label="%stockwatch.openRealtimeChart"
               class="net.sourceforge.eclipsetrader.ui.views.indices.IndexViewActions"
               menubarPath="group1"
               id="net.sourceforge.eclipsetrader.views.openRealtimeChart"/>
         <action
               label="%stockwatch.openChart"
               class="net.sourceforge.eclipsetrader.ui.views.indices.IndexViewActions"
               menubarPath="group1"
               id="net.sourceforge.eclipsetrader.views.openChart"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.ChartView"
            id="net.sourceforge.eclipsetrader.chartActions">
         <action
               toolbarPath="additions"
               label="%actions.next"
               tooltip="%actions.next"
               icon="icons/forward.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               id="chart.next"/>
         <action
               toolbarPath="additions"
               label="%actions.previous"
               tooltip="%actions.previous"
               icon="icons/back.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               id="chart.previous"/>
         <action
               toolbarPath="additions"
               label="%actions.update"
               tooltip="%actions.update"
               icon="icons/refresh.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               id="chart.refresh"/>
         <menu
               label="%actions.viewAll"
               path="all"
               id="chart.menu1"/>
         <menu
               label="%actions.viewPeriod"
               path="period"
               id="chart.menu2"/>
         <action
               label="%actions.viewLast2Years"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               menubarPath="period"
               id="view.last2years"/>
         <action
               label="%actions.viewLastYear"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               menubarPath="period"
               id="view.last1year"/>
         <action
               label="%actions.viewLast6Months"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               menubarPath="period"
               id="view.last6months"/>
         <action
               label="%actions.viewAll"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               menubarPath="all"
               id="view.all"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.RealtimeChart"
            id="net.sourceforge.eclipsetrader.realtimeChartActions">
         <action
               toolbarPath="additions"
               label="%actions.backfill"
               tooltip="%actions.backfill"
               icon="icons/refresh.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               style="push"
               id="chart.refresh"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"
            id="net.sourceforge.eclipsetrader.browserActions">
         <action
               toolbarPath="additions"
               label="%actions.next"
               tooltip="%actions.next"
               icon="icons/next_nav.gif"
               class="net.sourceforge.eclipsetrader.ui.views.news.NewsAction"
               style="push"
               id="news.next"/>
         <action
               toolbarPath="additions"
               label="%actions.previous"
               tooltip="%actions.previous"
               icon="icons/prev_nav.gif"
               class="net.sourceforge.eclipsetrader.ui.views.news.NewsAction"
               style="push"
               id="news.previous"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.News"
            id="net.sourceforge.eclipsetrader.newsActions">
         <action
               toolbarPath="additions"
               label="%actions.update"
               tooltip="%actions.update"
               icon="icons/refresh.gif"
               class="net.sourceforge.eclipsetrader.ui.views.news.NewsAction"
               style="push"
               id="news.refresh"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.Portfolio"
            id="net.sourceforge.eclipsetrader.portfolioActions">
         <action
               toolbarPath="additions"
               label="%actions.moveDown"
               tooltip="%actions.moveDown"
               icon="icons/next_nav.gif"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               style="push"
               id="portfolio.movedown"/>
         <action
               toolbarPath="additions"
               label="%actions.moveUp"
               tooltip="%actions.moveUp"
               icon="icons/prev_nav.gif"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               style="push"
               id="portfolio.moveup"/>
         <action
               toolbarPath="additions"
               label="%stockwatch.add"
               tooltip="%stockwatch.add"
               icon="icons/add_exc.gif"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               style="push"
               id="portfolio.add"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.chartPlotter">
      <plotter
            label="%AccumulationDistributionChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.AccumulationDistributionChart"
            id="net.sourceforge.eclipsetrader.charts.accumulationDistribution"/>
      <plotter
            label="%BollingerBandsChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.BollingerBandsChart"
            id="net.sourceforge.eclipsetrader.charts.bollinger"/>
      <plotter
            label="%AverageChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.AverageChart"
            id="net.sourceforge.eclipsetrader.charts.average"/>
      <plotter
            label="%RSIChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.RSIChart"
            id="net.sourceforge.eclipsetrader.charts.rsi"/>
      <plotter
            label="%StochasticChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.StochasticChart"
            id="net.sourceforge.eclipsetrader.charts.stochastic"/>
      <plotter
            label="%TrendChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.TrendChart"
            id="net.sourceforge.eclipsetrader.charts.trend"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Views ActionSet"
            visible="true"
            id="net.sourceforge.eclipsetrader.views.actionSet">
         <action
               label="%actions.showIndices"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               menubarPath="window/additions"
               id="net.sourceforge.eclipsetrader.actions.showIndexes"/>
         <action
               label="%actions.showStockwatch"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               menubarPath="window/additions"
               id="net.sourceforge.eclipsetrader.actions.showStockwatch"/>
         <action
               label="%actions.showNews"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               menubarPath="window/additions"
               id="net.sourceforge.eclipsetrader.actions.showNews"/>
      </actionSet>
   </extension>

</plugin>
