<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <category
            name="Trader"
            id="trader"/>
      <view
            allowMultiple="false"
            icon="icons/eview16/stockwatch.gif"
            class="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioView"
            category="trader"
            name="%stockwatch.title"
            id="net.sourceforge.eclipsetrader.ui.views.Portfolio">
      </view>
      <view
            class="net.sourceforge.eclipsetrader.ui.views.news.NewsView"
            icon="icons/macrodef_obj.gif"
            category="trader"
            name="%news.title"
            id="net.sourceforge.eclipsetrader.ui.views.News"/>
      <view
            class="net.sourceforge.eclipsetrader.ui.views.news.NewsBrowser"
            icon="icons/news_tab.gif"
            category="trader"
            name="%news.browser"
            id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"/>
      <view
            allowMultiple="true"
            icon="icons/eview16/historychart.gif"
            class="net.sourceforge.eclipsetrader.ui.views.charts.HistoryChartView"
            category="trader"
            name="%chart.title1"
            id="net.sourceforge.eclipsetrader.ui.views.ChartView"/>
      <view
            allowMultiple="true"
            icon="icons/sample.gif"
            class="net.sourceforge.eclipsetrader.ui.views.trading.Book"
            name="%book.title"
            id="net.sourceforge.eclipsetrader.ui.views.Book"/>
      <view
            allowMultiple="true"
            icon="icons/eview16/intradaychart.gif"
            class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartView"
            name="%chart.title2"
            id="net.sourceforge.eclipsetrader.ui.views.RealtimeChart"/>
      <view
            allowMultiple="false"
            class="net.sourceforge.eclipsetrader.ui.views.indices.IndexView"
            icon="icons/sample.gif"
            name="%indices.title"
            id="net.sourceforge.eclipsetrader.ui.views.indices"/>
      <view
            icon="icons/eview16/stockwatch.gif"
            class="net.sourceforge.eclipsetrader.ui.views.portfolio.StockListView"
            category="trader"
            name="Stock List"
            id="net.sourceforge.eclipsetrader.ui.views.stockList">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sourceforge.eclipsetrader.TraderPerspective">
         <view
               visible="false"
               id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"
               relationship="stack"
               relative="org.eclipse.ui.editorss"/>
         <view
               visible="false"
               id="net.sourceforge.eclipsetrader.ui.views.ChartView:*"
               relationship="stack"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="net.sourceforge.eclipsetrader.ui.views.Portfolio"
               relationship="stack"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="net.sourceforge.eclipsetrader.ui.views.News"
               relationship="stack"
               relative="news"/>
         <view
               id="net.sourceforge.eclipsetrader.ui.views.indices"
               relative="strips"
               relationship="stack"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.Portfolio"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.News"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.indices"/>
         <actionSet id="net.sourceforge.eclipsetrader.ui.portfolio"/>
         <actionSet id="net.sourceforge.eclipsetrader.views.chartActionSet"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.ChartsPerspective"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.NewsPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader.ChartsPerspective">
         <view
               ratio="0.20"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="net.sourceforge.eclipsetrader.ui.views.stockList"/>
         <view
               visible="false"
               id="net.sourceforge.eclipsetrader.ui.views.ChartView:*"
               relationship="stack"
               relative="org.eclipse.ui.editorss"/>
         <actionSet id="net.sourceforge.eclipsetrader.views.chartActionSet"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.NewsPerspective"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.TraderPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader.NewsPerspective">
         <view
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"/>
         <view
               ratio="0.75"
               relationship="bottom"
               relative="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"
               id="net.sourceforge.eclipsetrader.ui.views.News"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.News"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.ui.views.Portfolio"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.ChartsPerspective"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.TraderPerspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.eclipsetrader.ui.views.portfolio.GeneralPreferencePage"
            category="eclipsetrader"
            name="%stockwatch.title"
            id="eclipsetrader.portfolio"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.portfolio.ColorsPreferencePage"
            category="eclipsetrader.colors"
            name="%stockwatch.title"
            id="eclipsetrader.portfolio.colors"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.news.ColorsPreferencePage"
            category="eclipsetrader.colors"
            name="%news.title"
            id="eclipsetrader.news"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.trading.BookPreferencePage"
            category="eclipsetrader.colors"
            name="%book.title"
            id="eclipsetrader.book"/>
      <page
            class="net.sourceforge.eclipsetrader.ui.views.indices.IndicesPreferencePage"
            category="eclipsetrader"
            name="%indices.title"
            id="eclipsetrader.indices"/>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.Portfolio"
            id="net.sourceforge.eclipsetrader.ui.views.Portfolio.contextMenu">
         <action
               label="%stockwatch.openChart"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group1"
               id="net.sourceforge.eclipsetrader.views.openChart"/>
         <action
               label="%stockwatch.openRealtimeChart"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group2"
               id="net.sourceforge.eclipsetrader.views.openRealtimeChart"/>
         <action
               label="%stockwatch.openPriceBook"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group2"
               id="net.sourceforge.eclipsetrader.views.openPriceBook"/>
         <action
               label="%stockwatch.remove"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group3"
               id="portfolio.remove"/>
         <action
               label="%stockwatch.edit"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group3"
               id="portfolio.edit"/>
         <action
               label="%stockwatch.add"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group3"
               id="portfolio.add"/>
         <action
               label="%stockwatch.clearAlerts"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group4"
               id="portfolio.clearAlerts"/>
         <action
               label="%stockwatch.editAlerts"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="group4"
               id="portfolio.editAlerts"/>
      </viewerContribution>
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.ChartView"
            id="net.sourceforge.eclipsetrader.ui.views.ChartView.contextMenu">
         <action
               label="%chart.bar"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="group1"
               id="chart.bar"/>
         <action
               label="%chart.candle"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="group1"
               id="chart.candle"/>
         <action
               label="%chart.line"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="group1"
               id="chart.line"/>
         <action
               enablesFor="1"
               label="%chart.remove"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group3"
               id="chart.remove"/>
         <action
               enablesFor="1"
               label="%chart.edit"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group3"
               id="chart.edit"/>
         <action
               label="%chart.add"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="group3"
               id="chart.add"/>
      </viewerContribution>
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.RealtimeChart"
            id="net.sourceforge.eclipsetrader.ui.views.RealtimeChart.contextMenu">
         <action
               label="%chart.bar"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               style="radio"
               menubarPath="group1"
               id="chart.bar"/>
         <action
               label="%chart.candle"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               style="radio"
               menubarPath="group1"
               id="chart.candle"/>
         <action
               label="%chart.line"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               style="radio"
               menubarPath="group1"
               id="chart.line"/>
         <action
               enablesFor="1"
               label="%chart.remove"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group3"
               id="chart.remove"/>
         <action
               enablesFor="1"
               label="%chart.edit"
               overrideActionId="1"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group3"
               id="chart.edit"/>
         <action
               label="%chart.add"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               menubarPath="group3"
               id="chart.add"/>
      </viewerContribution>
      <viewerContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.indices"
            id="net.sourceforge.eclipsetrader.ui.views.indices.contextMenu">
         <action
               label="%stockwatch.openRealtimeChart"
               class="net.sourceforge.eclipsetrader.ui.views.indices.IndexViewActions"
               menubarPath="group1"
               id="net.sourceforge.eclipsetrader.views.openRealtimeChart"/>
         <action
               label="%stockwatch.openChart"
               class="net.sourceforge.eclipsetrader.ui.views.indices.IndexViewActions"
               menubarPath="group1"
               id="net.sourceforge.eclipsetrader.views.openChart"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.stockList"
            id="net.sourceforge.eclipsetrader.stocklistActions">
         <action
               toolbarPath="additions"
               label="%actions.update"
               tooltip="%actions.update"
               icon="icons/refresh.gif"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.StocklistAction"
               style="push"
               id="stockList.updateAll"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.ChartView"
            id="net.sourceforge.eclipsetrader.chartActions">
         <action
               toolbarPath="additions/style"
               label="%chart.bar"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               icon="icons/bar.gif"
               tooltip="%chart.bar"
               style="radio"
               id="chart.bar"/>
         <action
               toolbarPath="additions/style"
               label="%chart.candle"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               icon="icons/candle.gif"
               tooltip="%chart.candle"
               style="radio"
               id="chart.candle"/>
         <action
               toolbarPath="additions/style"
               label="%chart.line"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               icon="icons/line.gif"
               tooltip="%chart.line"
               style="radio"
               id="chart.line"/>
         <action
               toolbarPath="additions"
               label="%actions.next"
               tooltip="%actions.next"
               icon="icons/forward.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               id="chart.next"/>
         <action
               toolbarPath="additions"
               label="%actions.previous"
               tooltip="%actions.previous"
               icon="icons/back.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               id="chart.previous"/>
         <action
               toolbarPath="additions"
               label="%actions.update"
               tooltip="%actions.update"
               icon="icons/refresh.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               id="chart.refresh"/>
         <menu
               label="%actions.viewPeriod"
               path="period"
               id="chart.menu2"/>
         <action
               label="%actions.viewLast2Years"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="period"
               id="view.last2years"/>
         <action
               label="%actions.viewLastYear"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="period"
               id="view.last1year"/>
         <action
               label="%actions.viewLast6Months"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="period"
               id="view.last6months"/>
         <action
               label="%actions.viewAll"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="all"
               id="view.all"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.RealtimeChart"
            id="net.sourceforge.eclipsetrader.realtimeChartActions">
         <action
               toolbarPath="additions"
               label="%actions.backfill"
               tooltip="%actions.backfill"
               icon="icons/refresh.gif"
               class="net.sourceforge.eclipsetrader.ui.views.charts.RealtimeChartActions"
               style="push"
               id="chart.refresh"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.NewsBrowser"
            id="net.sourceforge.eclipsetrader.browserActions">
         <action
               disabledIcon="icons/dlcl16/next_nav.gif"
               toolbarPath="additions"
               label="%actions.next"
               class="net.sourceforge.eclipsetrader.ui.views.news.NewsAction"
               icon="icons/elcl16/next_nav.gif"
               tooltip="%actions.next"
               style="push"
               id="news.next"/>
         <action
               disabledIcon="icons/dlcl16/prev_nav.gif"
               toolbarPath="additions"
               label="%actions.previous"
               class="net.sourceforge.eclipsetrader.ui.views.news.NewsAction"
               icon="icons/elcl16/prev_nav.gif"
               tooltip="%actions.previous"
               style="push"
               id="news.previous"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.News"
            id="net.sourceforge.eclipsetrader.newsActions">
         <action
               toolbarPath="additions"
               label="%actions.update"
               tooltip="%actions.update"
               icon="icons/refresh.gif"
               class="net.sourceforge.eclipsetrader.ui.views.news.NewsAction"
               style="push"
               id="news.refresh"/>
      </viewContribution>
      <viewContribution
            targetID="net.sourceforge.eclipsetrader.ui.views.Portfolio"
            id="net.sourceforge.eclipsetrader.portfolioActions">
         <action
               disabledIcon="icons/dlcl16/rem_co.gif"
               enablesFor="1"
               toolbarPath="additions"
               label="%actions.delete"
               tooltip="%actions.delete"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               icon="icons/elcl16/rem_co.gif"
               style="push"
               id="portfolio.remove"/>
         <action
               disabledIcon="icons/dlcl16/next_nav.gif"
               enablesFor="1"
               toolbarPath="additions"
               label="%actions.moveDown"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               icon="icons/elcl16/next_nav.gif"
               tooltip="%actions.moveDown"
               style="push"
               id="portfolio.movedown"/>
         <action
               disabledIcon="icons/dlcl16/prev_nav.gif"
               enablesFor="1"
               toolbarPath="additions"
               label="%actions.moveUp"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               icon="icons/elcl16/prev_nav.gif"
               tooltip="%actions.moveUp"
               style="push"
               id="portfolio.moveup"/>
         <action
               disabledIcon="icons/dlcl16/addtsk_tsk.gif"
               toolbarPath="additions"
               label="%stockwatch.add"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               icon="icons/elcl16/addtsk_tsk.gif"
               tooltip="%stockwatch.add"
               style="push"
               id="portfolio.add"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.chartPlotter">
      <plotter
            label="%AccumulationDistributionChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.AccumulationDistributionChart"
            id="net.sourceforge.eclipsetrader.charts.accumulationDistribution"/>
      <plotter
            label="%BollingerBandsChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.BollingerBandsChart"
            id="net.sourceforge.eclipsetrader.charts.bollinger"/>
      <plotter
            label="%AverageChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.AverageChart"
            id="net.sourceforge.eclipsetrader.charts.average"/>
      <plotter
            label="%RSIChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.RSIChart"
            id="net.sourceforge.eclipsetrader.charts.rsi"/>
      <plotter
            label="%StochasticChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.StochasticChart"
            id="net.sourceforge.eclipsetrader.charts.stochastic"/>
      <plotter
            label="%TrendChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.TrendChart"
            id="net.sourceforge.eclipsetrader.charts.trend"/>
      <plotter
            label="%DirectionalMovementIndex.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.DirectionalMovementIndex"
            id="net.sourceforge.eclipsetrader.charts.directionalMovement"/>
      <plotter
            label="%AverageTrueRange.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.AverageTrueRange"
            id="net.sourceforge.eclipsetrader.charts.atr"/>
      <plotter
            label="%CommodityChannelIndex.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.CommodityChannelIndex"
            id="net.sourceforge.eclipsetrader.charts.cci"/>
      <plotter
            label="%DetrendedPriceOscillator.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.DetrendedPriceOscillator"
            id="net.sourceforge.eclipsetrader.charts.dpo"/>
      <plotter
            label="%MACD.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.MACDChart"
            id="net.sourceforge.eclipsetrader.charts.macd"/>
      <plotter
            label="%MAOSC.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.MAOSCChart"
            id="net.sourceforge.eclipsetrader.charts.maosc"/>
      <plotter
            label="%MarketThermometerChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.MarketThermometerChart"
            id="net.sourceforge.eclipsetrader.charts.therm"/>
      <plotter
            label="%SafezoneStop.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.SafezoneStop"
            id="net.sourceforge.eclipsetrader.charts.sz"/>
      <plotter
            label="%ForceIndex.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.ForceIndex"
            id="net.sourceforge.eclipsetrader.charts.fi"/>
      <plotter
            label="%StockChart.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.StockChart"
            id="net.sourceforge.eclipsetrader.charts.stock"/>
      <plotter
            label="%VolumeTrends.label"
            class="net.sourceforge.eclipsetrader.ui.views.charts.VolumeTrends"
            id="net.sourceforge.eclipsetrader.charts.vt"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Views"
            visible="true"
            id="net.sourceforge.eclipsetrader.views.actionSet">
         <action
               label="%actions.showStockList"
               tooltip="%actions.showStockList"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               menubarPath="window/showView"
               id="net.sourceforge.eclipsetrader.actions.showStockList"/>
         <action
               label="%actions.showNews"
               tooltip="%actions.showNews"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               menubarPath="window/showView"
               id="net.sourceforge.eclipsetrader.actions.showNews"/>
         <action
               label="%actions.showIndices"
               tooltip="%actions.showIndices"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               menubarPath="window/showView"
               id="net.sourceforge.eclipsetrader.actions.showIndexes"/>
         <action
               label="%actions.showStockwatch"
               tooltip="%actions.showStockwatch"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               menubarPath="window/showView"
               id="net.sourceforge.eclipsetrader.actions.showStockwatch"/>
         <action
               toolbarPath="additions"
               label="%actions.showNews"
               tooltip="%actions.showNews"
               icon="icons/news_tab.gif"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               id="net.sourceforge.eclipsetrader.actions.showNews"/>
         <action
               toolbarPath="additions"
               label="%actions.showIndices"
               tooltip="%actions.showIndices"
               icon="icons/sample.gif"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               id="net.sourceforge.eclipsetrader.actions.showIndexes"/>
         <action
               toolbarPath="additions"
               label="%actions.showStockwatch"
               tooltip="%actions.showStockwatch"
               icon="icons/eview16/stockwatch.gif"
               class="net.sourceforge.eclipsetrader.ui.internal.views.WorkbenchActions"
               style="push"
               id="net.sourceforge.eclipsetrader.actions.showStockwatch"/>
      </actionSet>
      <actionSet
            label="%stockwatch.title"
            visible="false"
            id="net.sourceforge.eclipsetrader.ui.portfolio">
         <menu
               label="%stockwatch.menu"
               path="group1"
               id="stockwatch">
            <separator name="group.top"/>
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
            <separator name="group4"/>
            <separator name="additions"/>
            <separator name="group.bottom"/>
         </menu>
         <action
               enablesFor="1"
               label="%stockwatch.openChart"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group1"
               id="net.sourceforge.eclipsetrader.views.openChart">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
         <action
               enablesFor="1"
               label="%stockwatch.openRealtimeChart"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group2"
               id="net.sourceforge.eclipsetrader.views.openRealtimeChart">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
         <action
               enablesFor="1"
               label="%stockwatch.openPriceBook"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group2"
               id="net.sourceforge.eclipsetrader.views.openPriceBook">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
         <action
               enablesFor="1"
               label="%stockwatch.remove"
               definitionId="org.eclipse.ui.edit.delete"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group3"
               id="portfolio.remove">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
         <action
               enablesFor="1"
               label="%stockwatch.edit"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group3"
               id="portfolio.edit">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
         <action
               label="%stockwatch.add"
               definitionId="net.sourceforge.eclipsetrader.commands.add"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group3"
               id="portfolio.add">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
         <action
               enablesFor="1"
               label="%stockwatch.clearAlerts"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group4"
               id="portfolio.clearAlerts">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
         <action
               enablesFor="1"
               label="%stockwatch.editAlerts"
               class="net.sourceforge.eclipsetrader.ui.views.portfolio.ContextAction"
               menubarPath="stockwatch/group4"
               id="portfolio.editAlerts">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.portfolio.PortfolioSelection"/>
            </enablement>
         </action>
      </actionSet>
      <actionSet
            label="Chart"
            visible="false"
            id="net.sourceforge.eclipsetrader.views.chartActionSet">
         <menu
               label="Chart"
               path="group2"
               id="chart">
            <separator name="group.top"/>
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
            <separator name="group4"/>
            <separator name="additions"/>
            <separator name="group.bottom"/>
         </menu>
         <action
               label="%chart.bar"
               definitionId="net.sourceforge.eclipsetrader.commands.bar"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="chart/group1"
               state="false"
               id="chart.bar">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%chart.candle"
               definitionId="net.sourceforge.eclipsetrader.commands.candle"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="chart/group1"
               state="false"
               id="chart.candle">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%chart.line"
               definitionId="net.sourceforge.eclipsetrader.commands.line"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="chart/group1"
               state="false"
               id="chart.line">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <menu
               label="%chart.indicators"
               path="chart/group2"
               id="indicators">
            <separator name="group.top"/>
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
            <separator name="group4"/>
            <separator name="additions"/>
            <separator name="group.bottom"/>
         </menu>
         <action
               enablesFor="1"
               label="%chart.remove"
               definitionId="org.eclipse.ui.edit.delete"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="chart/indicators/group2"
               id="chart.remove">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               enablesFor="1"
               label="%chart.edit"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="chart/indicators/group1"
               id="chart.edit">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%chart.add"
               definitionId="net.sourceforge.eclipsetrader.commands.add"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               menubarPath="chart/indicators/group1"
               id="chart.add">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <menu
               label="%chart.show"
               path="chart/group2"
               id="show">
            <separator name="group.top"/>
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
            <separator name="group4"/>
            <separator name="additions"/>
            <separator name="group.bottom"/>
         </menu>
         <action
               label="%actions.viewAll"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="chart/show/group1"
               id="view.all">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%actions.viewLast2Years"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="chart/show/group2"
               id="view.last2years">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%actions.viewLastYear"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="chart/show/group2"
               id="view.last1year">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%actions.viewLast6Months"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="radio"
               menubarPath="chart/show/group2"
               id="view.last6months">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%actions.next"
               definitionId="net.sourceforge.eclipsetrader.commands.next"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               menubarPath="chart/group3"
               id="chart.next">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%actions.previous"
               definitionId="net.sourceforge.eclipsetrader.commands.previous"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               menubarPath="chart/group3"
               id="chart.previous">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
         <action
               label="%actions.update"
               definitionId="org.eclipse.ui.file.refresh"
               class="net.sourceforge.eclipsetrader.ui.views.charts.ChartActions"
               style="push"
               menubarPath="chart/group4"
               id="chart.refresh">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.ui.views.charts.ChartPlotterSelection"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Next"
            categoryId="net.sourceforge.eclipsetrader.commands"
            name="Next"
            id="net.sourceforge.eclipsetrader.commands.next"/>
      <command
            description="Previous"
            categoryId="net.sourceforge.eclipsetrader.commands"
            name="Previous"
            id="net.sourceforge.eclipsetrader.commands.previous"/>
      <command
            description="Line Chart"
            categoryId="net.sourceforge.eclipsetrader.commands"
            name="Line Chart"
            id="net.sourceforge.eclipsetrader.commands.line"/>
      <command
            description="Bar Chart"
            categoryId="net.sourceforge.eclipsetrader.commands"
            name="Bar Chart"
            id="net.sourceforge.eclipsetrader.commands.bar"/>
      <command
            description="Candle Chart"
            categoryId="net.sourceforge.eclipsetrader.commands"
            name="Candle Chart"
            id="net.sourceforge.eclipsetrader.commands.candle"/>
      <command
            description="Add"
            categoryId="net.sourceforge.eclipsetrader.commands"
            name="Add"
            id="net.sourceforge.eclipsetrader.commands.add"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.eclipsetrader.commands.next"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Arrow_Right"/>
      <key
            commandId="net.sourceforge.eclipsetrader.commands.previous"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Arrow_Left"/>
      <key
            commandId="net.sourceforge.eclipsetrader.commands.line"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="L"/>
      <key
            commandId="net.sourceforge.eclipsetrader.commands.bar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="B"/>
      <key
            commandId="net.sourceforge.eclipsetrader.commands.candle"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="C"/>
      <key
            commandId="net.sourceforge.eclipsetrader.commands.add"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT"/>
      <key
            platform="carbon"
            commandId="net.sourceforge.eclipsetrader.commands.next"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Command+Arrow_Right"/>
      <key
            platform="carbon"
            commandId="net.sourceforge.eclipsetrader.commands.previous"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Command+Arrow_Left"/>
   </extension>

</plugin>
