<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="indicators" name="Chart Indicators" schema="schema/indicators.exsd"/>
   <extension-point id="objects" name="Chart Objects" schema="schema/objects.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.charts"
            label="%actionSet.charts.label">
         <menu
               id="chartMenu"
               label="%actionSet.menu.chart.label"
               path="charts">
            <separator name="begin"/>
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
            <separator name="group4"/>
            <separator name="group5"/>
            <separator name="group6"/>
            <separator name="end"/>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.charts/net.sourceforge.eclipsetrader.views.chart"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.eclipsetrader.charts.Perspective"
            icon="icons/eview16/chart_curve.png"
            id="net.sourceforge.eclipsetrader.charts"
            name="%perspective.charts.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <view
               id="net.sourceforge.eclipsetrader.views.chart:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.chartData"
               relationship="stack"
               relative="bottom"
               visible="false"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.charts"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader.charts">
         <view
               id="net.sourceforge.eclipsetrader.views.securities"
               relationship="stack"
               relative="left"/>
         <view
               id="net.sourceforge.eclipsetrader.views.chart:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.chartData"
               relationship="stack"
               relative="bottom"
               visible="false"/>
         <actionSet id="net.sourceforge.eclipsetrader.securities"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.securities"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.chartData"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="chartsView"
            targetID="net.sourceforge.eclipsetrader.views.chart">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.EditObjectAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.charts.editIndicator"
               label="%action.editObject.label"
               menubarPath="top"
               style="push">
         </action>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.NewIndicatorAction"
               id="net.sourceforge.eclipsetrader.charts.newIndicator"
               label="%action.newIndicator.label"
               menubarPath="top"
               style="push"/>
      </viewerContribution>
      <viewerContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="%action.openChart.label"
               menubarPath="top"
               style="pulldown"/>
      </viewerContribution>
      <viewerContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               icon="icons/eview16/chart_curve.png"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="%action.openChart.label"
               menubarPath="top"
               style="pulldown"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.eclipsetrader.charts.preferences.ChartsPrefereces"
            id="net.sourceforge.eclipsetrader.charts.general"
            name="%preferencePage.charts.name"/>
      <page
            category="net.sourceforge.eclipsetrader.charts.general"
            class="net.sourceforge.eclipsetrader.charts.preferences.DefaultConfigurationPage"
            id="net.sourceforge.eclipsetrader.charts.default"
            name="%preferencePage.defaultSettings.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="net.sourceforge.eclipsetrader.charts.internal.EarlyStartup"/>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.charts"
            label="%theme.category.charts.label"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.charts"
            id="CHART_BACKGROUND"
            label="%theme.color.background.label"
            value="255,255,224"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.charts"
            id="CHART_SCALE_BACKGROUND"
            label="%theme.color.scale.background.label"
            value="255,255,255"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.charts"
            id="CHART_SCALE_FOREGROUND"
            label="%theme.color.scale.foreground.label"
            value="0,0,0"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.charts.views.ChartView"
            icon="icons/eview16/chart_curve.png"
            id="net.sourceforge.eclipsetrader.views.chart"
            name="%view.chart.name"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.charts.views.DataView"
            icon="icons/eview16/database_table.png"
            id="net.sourceforge.eclipsetrader.chartData"
            name="%view.chartData.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="chartView"
            targetID="net.sourceforge.eclipsetrader.views.chart">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.DeleteObjectAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.charts.deleteIndicator"
               label="%action.deleteObject.label"
               menubarPath="group1"
               style="push">
         </action>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.EditObjectAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.charts.editIndicator"
               label="%action.editObject.label"
               menubarPath="group1"
               style="push">
         </action>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.NewIndicatorAction"
               icon="icons/elcl16/chart_line_add.png"
               id="net.sourceforge.eclipsetrader.charts.newIndicator"
               label="%action.newIndicator.label"
               menubarPath="group1"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.UpdateChartAction"
               icon="icons/elcl16/refresh.gif"
               id="net.sourceforge.eclipsetrader.charts.refresh"
               label="%action.updateChart.label"
               menubarPath="group4"
               style="push"
               toolbarPath="refresh"
               tooltip="%action.updateChart.tooltip"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.objects.LineAction"
               icon="icons/etool16/line.gif"
               id="net.sourceforge.eclipsetrader.charts.line"
               label="%object.line.action.label"
               style="push"
               toolbarPath="objects"
               tooltip="%object.line.action.tooltip"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.objects.HorizontalLineAction"
               icon="icons/etool16/horizontalLine.gif"
               id="net.sourceforge.eclipsetrader.charts.horizontalLine"
               label="%object.horizontalLine.action.label"
               style="push"
               toolbarPath="objects"
               tooltip="%object.horizontalLine.action.tooltip"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.objects.FiboLineAction"
               icon="icons/etool16/fiboline.gif"
               id="net.sourceforge.eclipsetrader.charts.fiboline"
               label="%object.fiboline.action.label"
               style="push"
               toolbarPath="objects"
               tooltip="%object.fiboline.action.tooltip"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.DeleteChartAction"
               id="net.sourceforge.eclipsetrader.charts.delete"
               label="%action.deleteChart.label"
               menubarPath="bottom"
               style="push"/>
      </viewContribution>
      <viewContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               icon="icons/eview16/chart_curve.png"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="%action.openChart.label"
               menubarPath="top"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.UpdateAllChartsAction"
               icon="icons/elcl16/refresh.gif"
               id="net.sourceforge.eclipsetrader.charts.updateAll"
               label="%action.updateAllCharts.label"
               menubarPath="bottom"
               style="push"/>
      </viewContribution>
      <viewContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="%action.openChart.label"
               menubarPath="top"
               style="push"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.charts.indicators">
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.AccumulationDistribution"
            id="net.sourceforge.eclipsetrader.indicators.ad"
            name="%indicator.AD.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.AccumulationDistributionPreferencePage"
               title="%indicator.AD.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.AdaptiveStoch"
            id="net.sourceforge.eclipsetrader.indicators.adaptstoch"
            name="%indicator.AdaptSTOCH.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.AdaptiveStochPreferencePage"
               title="%indicator.AdaptSTOCH.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.ATR"
            id="net.sourceforge.eclipsetrader.indicators.atr"
            name="%indicator.ATR.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.ATRPreferencePage"
               title="%indicator.ATR.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Bars"
            id="net.sourceforge.eclipsetrader.indicators.bars"
            name="%indicator.BAR.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.BarsPreferences"
               description="%indicator.BAR.preferencesPage.description"
               title="%indicator.BAR.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.BollingerBands"
            id="net.sourceforge.eclipsetrader.indicators.bb"
            name="%indicator.BB.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.BollingerBandsPreferencePage"
               title="%indicator.BB.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.CommodityChannelIndex"
            id="net.sourceforge.eclipsetrader.indicators.cci"
            name="%indicator.CCI.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.CommodityChannelIndexPreferencePage"
               title="%indicator.CCI.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.DMI"
            id="net.sourceforge.eclipsetrader.indicators.dmi"
            name="%indicator.DMI.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.DMIPreferencePage"
               title="%indicator.DMI.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.DPO"
            id="net.sourceforge.eclipsetrader.indicators.dpo"
            name="%indicator.DPO.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.DPOPreferencePage"
               title="%indicator.DPO.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.FI"
            id="net.sourceforge.eclipsetrader.indicators.fi"
            name="%indicator.FI.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.FIPreferencePage"
               title="%indicator.FI.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Lines"
            id="net.sourceforge.eclipsetrader.indicators.line"
            name="%indicator.LINE.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.LinesPreferences"
               description="%indicator.LINE.preferencesPage.description"
               title="%indicator.LINE.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MarketThermometer"
            id="net.sourceforge.eclipsetrader.indicators.therm"
            name="%indicator.THERM.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MarketThermometerPreferences"
               description="%indicator.THERM.preferencesPage.description"
               title="%indicator.THERM.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MA"
            id="net.sourceforge.eclipsetrader.indicators.ma"
            name="%indicator.MA.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MAPreferences"
               description="%indicator.MA.preferencesPage.description"
               title="%indicator.MA.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MACD"
            id="net.sourceforge.eclipsetrader.indicators.macd"
            name="%indicator.MACD.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MACDPreferences"
               title="%indicator.MACD.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MAOSC"
            id="net.sourceforge.eclipsetrader.indicators.maosc"
            name="%indicator.MAOSC.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MAOSCPreferencePage"
               title="%indicator.MAOSC.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.RSI"
            id="net.sourceforge.eclipsetrader.indicators.rsi"
            name="%indicator.RSI.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.RSIPreferences"
               title="%indicator.RSI.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.SAR"
            id="net.sourceforge.eclipsetrader.indicators.sar"
            name="%indicator.SAR.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.SARPreferencePage"
               title="%indicator.SAR.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Stochastic"
            id="net.sourceforge.eclipsetrader.indicators.stoch"
            name="%indicator.STOCH.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.StochasticPreferencePage"
               title="%indicator.STOCH.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Volume"
            id="net.sourceforge.eclipsetrader.indicators.volume"
            name="%indicator.VOL.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.VolumePreferences"
               description="%indicator.VOL.preferencesPage.description"
               title="%indicator.VOL.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.VT"
            id="net.sourceforge.eclipsetrader.indicators.vt"
            name="%indicator.VT.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.VTPreferencePage"
               title="%indicator.VT.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.SD"
            id="net.sourceforge.eclipsetrader.indicators.sd"
            name="%indicator.SD.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.SDPreferencePage"
               title="%indicator.SD.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.ROC"
            id="net.sourceforge.eclipsetrader.indicators.roc"
            name="%indicator.ROC.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.ROCPreferencePage"
               title="%indicator.ROC.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.VIDYA"
            id="net.sourceforge.eclipsetrader.indicators.vidya"
            name="%indicator.VIDYA.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.VIDYAPreferencePage"
               title="%indicator.VIDYA.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.VFI"
            id="net.sourceforge.eclipsetrader.indicators.vfi"
            name="%indicator.VFI.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.VFIPreferencePage"
               title="%indicator.VFI.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.UO"
            id="net.sourceforge.eclipsetrader.indicators.uo"
            name="%indicator.UO.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.UOPreferencePage"
               title="%indicator.UO.preferencesPage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MAChannels"
            id="net.sourceforge.eclipsetrader.indicators.mach"
            name="%indicator.MACH.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MAChannelsPreferencePage"
               title="%indicator.MACH.preferencesPage.title"/>
      </indicator>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.charts.objects">
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.Line"
            id="net.sourceforge.eclipsetrader.objects.line"
            name="%object.line.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.LinePreferences"
               title="%object.line.preferencesPage.title"/>
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.HorizontalLine"
            id="net.sourceforge.eclipsetrader.objects.horizontalLine"
            name="%object.horizontalLine.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.HorizontalLinePreferences"
               title="%object.horizontalLine.preferencesPage.title"/>
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.FiboLine"
            id="net.sourceforge.eclipsetrader.objects.fiboline"
            name="%object.fiboline.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.FiboLinePreferences"
               title="%object.fiboline.preferencesPage.title"/>
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.SellArrow"
            id="net.sourceforge.eclipsetrader.objects.sellarrow"
            name="%object.sellArrow.name">
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.BuyArrow"
            id="net.sourceforge.eclipsetrader.objects.buyarrow"
            name="%object.buyArrow.name">
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.FanLines"
            id="net.sourceforge.eclipsetrader.objects.fanlines"
            name="%object.fibonacciFan.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.FanLinesPreferences"
               title="%object.fibonacciFan.preferencesPage.title"/>
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.ParallelLine"
            id="net.sourceforge.eclipsetrader.objects.parallelLines"
            name="%object.parallelLines.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.ParallelLinePreferences"
               title="%object.parallelLines.preferencesPage.title"/>
      </object>      
   </extension>

</plugin>
