<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="indicators" name="Chart Indicators" schema="schema/indicators.exsd"/>
   <extension-point id="objects" name="Chart Objects" schema="schema/objects.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.charts"
            label="Charts">
         <menu
               id="chartMenu"
               label="Chart"
               path="charts">
            <separator name="begin"/>
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
            <separator name="group4"/>
            <separator name="group5"/>
            <separator name="group6"/>
            <separator name="end"/>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.charts/net.sourceforge.eclipsetrader.views.chart"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.eclipsetrader.charts.Perspective"
            icon="icons/eview16/chart_curve.png"
            id="net.sourceforge.eclipsetrader.charts"
            name="Charts"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <view
               id="net.sourceforge.eclipsetrader.views.chart:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.chartData"
               relationship="stack"
               relative="bottom"
               visible="false"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader.charts"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader.charts">
         <view
               id="net.sourceforge.eclipsetrader.views.securities"
               relationship="stack"
               relative="left"/>
         <view
               id="net.sourceforge.eclipsetrader.views.chart:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.chartData"
               relationship="stack"
               relative="bottom"
               visible="false"/>
         <actionSet id="net.sourceforge.eclipsetrader.securities"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.securities"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.chartData"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="chartsView"
            targetID="net.sourceforge.eclipsetrader.views.chart">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.EditObjectAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.charts.editIndicator"
               label="Edit Object"
               menubarPath="top"
               style="push">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.charts.events.IndicatorSelection"/>
            </enablement>
         </action>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.NewIndicatorAction"
               id="net.sourceforge.eclipsetrader.charts.newIndicator"
               label="New Indicator"
               menubarPath="top"
               style="push"/>
      </viewerContribution>
      <viewerContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="Open Chart"
               menubarPath="top"
               style="push"/>
      </viewerContribution>
      <viewerContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="Open Chart"
               menubarPath="top"
               style="push"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.charts"
            label="Charts"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.charts"
            id="CHART_BACKGROUND"
            label="Background"
            value="255,255,224"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.charts"
            id="CHART_SCALE_BACKGROUND"
            label="Scale Background"
            value="255,255,255"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.charts"
            id="CHART_SCALE_FOREGROUND"
            label="Scale Foreground"
            value="0,0,0"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.charts.views.ChartView"
            icon="icons/eview16/chart_curve.png"
            id="net.sourceforge.eclipsetrader.views.chart"
            name="Chart"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.charts.views.DataView"
            icon="icons/eview16/database_table.png"
            id="net.sourceforge.eclipsetrader.chartData"
            name="Chart Data"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="chartView"
            targetID="net.sourceforge.eclipsetrader.views.chart">
         <menu
               id="indicator"
               label="Indicator"
               path="group1"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.DeleteObjectAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.charts.deleteIndicator"
               label="Delete Object"
               menubarPath="group1"
               style="push">
         </action>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.EditObjectAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.charts.editIndicator"
               label="Edit Object"
               menubarPath="group1"
               style="push">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.charts.events.IndicatorSelection"/>
            </enablement>
         </action>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.NewIndicatorAction"
               icon="icons/elcl16/chart_line_add.png"
               id="net.sourceforge.eclipsetrader.charts.newIndicator"
               label="New Indicator"
               menubarPath="group1"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.UpdateChartAction"
               icon="icons/elcl16/refresh.gif"
               id="net.sourceforge.eclipsetrader.charts.refresh"
               label="Update Chart"
               menubarPath="group4"
               style="push"
               toolbarPath="refresh"
               tooltip="Update chart data"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.objects.LineAction"
               icon="icons/etool16/line.gif"
               id="net.sourceforge.eclipsetrader.charts.line"
               label="Line"
               style="push"
               toolbarPath="objects"
               tooltip="New line"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.objects.HorizontalLineAction"
               icon="icons/etool16/horizontalLine.gif"
               id="net.sourceforge.eclipsetrader.charts.horizontalLine"
               label="Horizontal Line"
               style="push"
               toolbarPath="objects"
               tooltip="New horizontal line"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.objects.FiboLineAction"
               icon="icons/etool16/fiboline.gif"
               id="net.sourceforge.eclipsetrader.charts.fiboline"
               label="FiboLine"
               style="push"
               toolbarPath="objects"
               tooltip="New fiboline"/>
      </viewContribution>
      <viewContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="Open Chart"
               menubarPath="group1"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.UpdateAllChartsAction"
               id="net.sourceforge.eclipsetrader.charts.updateAll"
               label="Update all Charts"
               menubarPath="bottom"
               style="push"/>
      </viewContribution>
      <viewContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.charts.actions.OpenChartAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.actions.openChart"
               label="Open Chart"
               menubarPath="top"
               style="push"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.charts.indicators">
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.AccumulationDistribution"
            id="net.sourceforge.eclipsetrader.indicators.ad"
            name="Accumulation / Distribution - AD">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.AccumulationDistributionPreferencePage"
               title="Accumulation / Distribution"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.AdaptiveStoch"
            id="net.sourceforge.eclipsetrader.indicators.adaptstoch"
            name="Adaptive Stochastic - AdaptSTOCH">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.AdaptiveStochPreferencePage"
               title="Adaptive Stochastic"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.ATR"
            id="net.sourceforge.eclipsetrader.indicators.atr"
            name="Average True Range - ATR">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.ATRPreferencePage"
               title="Average True Range"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Bars"
            id="net.sourceforge.eclipsetrader.indicators.bars"
            name="Bars - BAR">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.BarsPreferences"
               description="Set the bars type and colors"
               title="Bars"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.BollingerBands"
            id="net.sourceforge.eclipsetrader.indicators.bb"
            name="Bollinger Bands - BB">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.BollingerBandsPreferencePage"
               title="Bollinger Bands"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.CommodityChannelIndex"
            id="net.sourceforge.eclipsetrader.indicators.cci"
            name="Commodity Channel Index - CCI">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.CommodityChannelIndexPreferencePage"
               title="Commodity Channel Index"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.DMI"
            id="net.sourceforge.eclipsetrader.indicators.dmi"
            name="Directional Movement Index - DMI">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.DMIPreferencePage"
               title="Directional Movement Index"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.DPO"
            id="net.sourceforge.eclipsetrader.indicators.dpo"
            name="Detrended Price Oscillator - DPO">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.DPOPreferencePage"
               title="Detrended Price Oscillator"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.FI"
            id="net.sourceforge.eclipsetrader.indicators.fi"
            name="Force Index - FI">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.FIPreferencePage"
               title="Force Index"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Lines"
            id="net.sourceforge.eclipsetrader.indicators.line"
            name="Lines - LINE">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.LinesPreferences"
               description="Set the line input field and color"
               title="Line"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MarketThermometer"
            id="net.sourceforge.eclipsetrader.indicators.therm"
            name="Market Thermometer - THERM">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MarketThermometerPreferences"
               description="Set the market thermometer parameters"
               title="Market Thermometer"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MA"
            id="net.sourceforge.eclipsetrader.indicators.ma"
            name="Moving Average - MA">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MAPreferences"
               description="Set the moving average parameters"
               title="Moving Average"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MACD"
            id="net.sourceforge.eclipsetrader.indicators.macd"
            name="Moving Average Convergence Divergence - MACD">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MACDPreferences"
               title="MACD"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.MAOSC"
            id="net.sourceforge.eclipsetrader.indicators.maosc"
            name="Moving Average Oscillator - MAOSC">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.MAOSCPreferencePage"
               title="Moving Average Oscillator"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.RSI"
            id="net.sourceforge.eclipsetrader.indicators.rsi"
            name="Relative Strength Index - RSI">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.RSIPreferences"
               title="RSI"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.SAR"
            id="net.sourceforge.eclipsetrader.indicators.sar"
            name="Parabolic SAR - SAR">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.SARPreferencePage"
               title="Parabolic SAR"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Stochastic"
            id="net.sourceforge.eclipsetrader.indicators.stoch"
            name="Stochastic - STOCH">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.StochasticPreferencePage"
               title="Stochastic"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.Volume"
            id="net.sourceforge.eclipsetrader.indicators.volume"
            name="Volume - VOL">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.VolumePreferences"
               description="Set the volume bar colors"
               title="Volume"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.VT"
            id="net.sourceforge.eclipsetrader.indicators.vt"
            name="Volume Trends - VT">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.VTPreferencePage"
               title="Volume Trends"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.SD"
            id="net.sourceforge.eclipsetrader.indicators.sd"
            name="Standard Deviation - SD">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.SDPreferencePage"
               title="Standard Deviation"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.charts.indicators.ROC"
            id="net.sourceforge.eclipsetrader.indicators.roc"
            name="Rate Of Change - ROC">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.indicators.ROCPreferencePage"
               title="Rate Of Change"/>
      </indicator>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.charts.objects">
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.Line"
            id="net.sourceforge.eclipsetrader.objects.line"
            name="Line">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.LinePreferences"
               title="Line"/>
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.HorizontalLine"
            id="net.sourceforge.eclipsetrader.objects.horizontalLine"
            name="Horizontal Line">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.HorizontalLinePreferences"
               title="Horizontal Line"/>
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.FiboLine"
            id="net.sourceforge.eclipsetrader.objects.fiboline"
            name="FiboLine">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.FiboLinePreferences"
               title="FiboLine"/>
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.SellArrow"
            id="net.sourceforge.eclipsetrader.objects.sellarrow"
            name="Sell Arrow">
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.BuyArrow"
            id="net.sourceforge.eclipsetrader.objects.buyarrow"
            name="Buy Arrow">
      </object>
      <object
            class="net.sourceforge.eclipsetrader.charts.objects.FanLines"
            id="net.sourceforge.eclipsetrader.objects.fanlines"
            name="Fibonacci Fan Lines">
         <preferencePage
               class="net.sourceforge.eclipsetrader.charts.objects.FanLinesPreferences"
               title="Fibonacci Fan Lines"/>
      </object>
   </extension>

</plugin>
