<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipsetrader.core.launchers">
      <launcher
            class="org.eclipsetrader.core.internal.ats.TradingSystemsLauncher"
            id="org.eclipsetrader.core.ats.launcher"
            name="Automated Trading Systems">
      </launcher>
   </extension>

</plugin>
