<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipsetrader.core.elementFactories">
      <factory
            class="org.eclipsetrader.core.internal.ats.RepositoryElementFactory"
            id="org.eclipsetrader.core.ats.factory">
      </factory>
   </extension>

</plugin>
