<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipsetrader.ui.workbench"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipsetrader.ui.internal.application.TraderApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.eclipsetrader.ui.internal.presentation.TraderPresentationFactory"
            id="org.eclipsetrader.platform.presentation"
            name="EclipseTrader Platform Presentation">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open the selected object."
            id="org.eclipse.ui.file.open"
            name="Open">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.settings"
            name="Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Hide unwanted contributions"
            id="org.eclipsetrader.activities.hideContributions"
            name="Hide Contributions">
      </activity>
      <activityPatternBinding
            activityId="org.eclipsetrader.activities.hideContributions"
            pattern="org.eclipse.ui/org.eclipse.ui">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
            id="org.eclipse.ui.preferencePages.Appearance"
            name="Appearance"/>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:perspectivesPreferencePage"
            id="org.eclipse.ui.preferencePages.Perspectives"
            name="Perspectives"/>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="Keys"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%UpdateActionSet.label"
            visible="true"
            id="org.eclipse.update.ui.softwareUpdates">
         <menu
               label="%UpdateActionSet.menu.label"
               path="help/group.updates"
               id="org.eclipse.update.ui.updateMenu">
            <separator
                  name="group0">
            </separator>
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipsetrader.ui.internal.actions.ConfigurationManagerAction"
               definitionId="org.eclipse.ui.update.manageConfiguration"
               helpContextId="org.eclipse.update.ui.newUpdates"
               icon="icons/elcl16/configs.gif"
               id="org.eclipse.update.ui.configManager"
               label="%UpdateActionSet.configManager.label"
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0">
         </action>
         <action
               class="org.eclipsetrader.ui.internal.actions.InstallWizardAction"
               definitionId="org.eclipse.ui.update.findAndInstallUpdates"
               helpContextId="org.eclipse.update.ui.newUpdates"
               icon="icons/elcl16/usearch_obj.gif"
               id="org.eclipse.update.ui.newUpdates"
               label="%UpdateActionSet.updates.label"
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0">
         </action>
      </actionSet>
   </extension>

</plugin>
