<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.eclipsetrader.yahoo"
   name="Yahoo Plug-in"
   version="0.8.0"
   provider-name="Sourceforge.net"
   class="net.sourceforge.eclipsetrader.yahoo.YahooPlugin">

   <runtime>
      <library name="yahoo.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="net.sourceforge.eclipsetrader"/>
      <import plugin="org.eclipse.jface"/>
   </requires>
   <extension-point id="newsSource" name="News Source" schema="schema/newsSource.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.eclipsetrader.yahoo.GeneralPreferencePage"
            name="Yahoo"
            id="yahoo"/>
      <page
            class="net.sourceforge.eclipsetrader.yahoo.MappingPreferencePage"
            category="yahoo"
            name="Mapping"
            id="yahoo.mapping"/>
   </extension>
   <extension
         name="Yahoo Data Provider"
         point="net.sourceforge.eclipsetrader.dataProvider">
      <provider
            class="net.sourceforge.eclipsetrader.yahoo.SnapshotDataProvider"
            id="yahoo.data.provider"/>
   </extension>
   <extension
         name="Yahoo Charts Data Provider"
         point="net.sourceforge.eclipsetrader.chartDataProvider">
      <provider
            class="net.sourceforge.eclipsetrader.yahoo.ChartDataProvider"
            id="yahoo.chart.provider"/>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.yahoo.newsSource">
      <source
            label="Yahoo Italia"
            class="net.sourceforge.eclipsetrader.yahoo.NewsSourceItaly"
            id="yahoo.news.it"/>
      <source
            label="Yahoo U.S."
            class="net.sourceforge.eclipsetrader.yahoo.NewsSourceUS"
            id="yahoo.news.us"/>
   </extension>
   <extension
         name="Yahoo News Provider"
         point="net.sourceforge.eclipsetrader.newsProvider">
      <provider
            label="Yahoo News Provider"
            class="net.sourceforge.eclipsetrader.yahoo.NewsProvider"
            id="yahoo.newsProvider"/>
   </extension>

</plugin>
