<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         name="OpenTick"
         point="org.eclipsetrader.core.connectors">
      <connector
            class="org.eclipsetrader.opentick.internal.core.FeedConnector"
            id="org.eclipsetrader.opentick"
            name="OpenTick">
      </connector>
      <backfill
            class="org.eclipsetrader.opentick.internal.core.BackfillConnector"
            id="org.eclipsetrader.opentick"
            name="OpenTick">
      </backfill>
      <property
            id="org.eclipsetrader.opentick.symbol"
            name="Symbol">
      </property>
      <property
            id="org.eclipsetrader.opentick.exchange"
            name="Exchange">
      </property>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipsetrader.ui.preferences.plugins"
            class="org.eclipsetrader.opentick.internal.ui.preferences.AuthenticationPage"
            id="org.eclipsetrader.opentick.authentication"
            name="OpenTick">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipsetrader.ui.import.data"
            class="org.eclipsetrader.opentick.internal.ui.DataImportWizard"
            icon="opentick16.gif"
            id="org.eclipsetrader.opentick.importData"
            name="OpenTick">
         <description>
            Import historical data from OpenTick.
         </description>
      </wizard>
      <wizard
            category="org.eclipsetrader.ui.import.instruments"
            class="org.eclipsetrader.opentick.internal.ui.InstrumentsImportWizard"
            icon="opentick16.gif"
            id="org.eclipsetrader.opentick.importInstrument"
            name="OpenTick">
         <description>
            Import instruments from OpenTick.
         </description>
      </wizard>
   </extension>

</plugin>
