<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipsetrader.ui.indicators" name="Chart Indicators" schema="schema/indicators.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsetrader.ui.internal.charts.ChartsPerspective"
            icon="icons/view16/linecharticon.gif"
            id="org.eclipsetrader.ui.charts"
            name="Charts">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.charts.views.ChartViewPart"
            icon="icons/view16/linecharticon.gif"
            id="org.eclipsetrader.ui.chart"
            name="Chart">
      </view>
      <view
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.charts.views.PaletteView"
            icon="icons/view16/palette_view.gif"
            id="org.eclipsetrader.ui.charts.palette"
            name="Palette">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="org.eclipsetrader.activities.hideContributions"
            pattern="org.eclipsetrader.ui.charts/org.eclipsetrader.ui.chart">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open a chart for the selected object."
            id="org.eclipsetrader.ui.file.open.chart"
            name="Open Chart">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipsetrader.ui.file.open.chart">
         <class
               class="org.eclipsetrader.ui.internal.charts.views.ChartOpenHandler">
         </class>
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.file.open">
         <class class="org.eclipsetrader.ui.internal.charts.views.ChartOpenHandler"></class>
         <activeWhen>
            <and>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="org.eclipsetrader.ui.charts.trigger">
                     </equals>
                  </iterate>
               </with>
               <count
                     value="+">
               </count>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.eclipsetrader.ui.file.open.chart">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipsetrader.core.instruments.Security">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipsetrader.ui.charts.trigger"
            label="Trigger Action Set">
      </actionSet>
      <actionSet
            description="Chart drawing tools"
            id="org.eclipsetrader.ui.charts.tools"
            label="Chart Tools">
         <action
               icon="icons/etool16/fiboarc.gif"
               id="org.eclipsetrader.ui.charts.tools.fiboarc"
               label="FiboArc"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/fanline.gif"
               id="org.eclipsetrader.ui.charts.tools.fanline"
               label="FanLine"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/fiboline.gif"
               id="org.eclipsetrader.ui.charts.tools.fiboline"
               label="FiboLine"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/line.gif"
               id="org.eclipsetrader.ui.charts.tools.line"
               label="Line"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipsetrader.ui.traderPerspective">
         <perspectiveShortcut
               id="org.eclipsetrader.ui.charts">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipsetrader.ui.indicators">
      <category
            icon="icons/obj16/linecharticon.gif"
            id="org.eclipsetrader.ui.charts.indicators"
            name="Indicators">
      </category>
      <category
            icon="icons/obj16/build_exec.png"
            id="org.eclipsetrader.ui.charts.tools"
            name="Tools">
      </category>
   </extension>
   <extension
         point="org.eclipsetrader.ui.indicators">
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.LineToolFactory"
            icon="icons/etool16/line.gif"
            id="org.eclipsetrader.ui.charts.tools.line"
            name="Line">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.FibolineToolFactory"
            icon="icons/etool16/fiboline.gif"
            id="org.eclipsetrader.ui.charts.tools.fiboline"
            name="FiboLine">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.FanlineToolFactory"
            icon="icons/etool16/fanline.gif"
            id="org.eclipsetrader.ui.charts.tools.fanline"
            name="FanLine">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.FiboarcToolFactory"
            icon="icons/etool16/fiboarc.gif"
            id="org.eclipsetrader.ui.charts.tools.fiboarc"
            name="FiboArc">
      </indicator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipsetrader.ui.internal.charts.views.GeneralPreferencesPage"
            id="org.eclipsetrader.ui.charts.general"
            name="Charts">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipsetrader.ui.internal.charts.ChartViewItemPropertyTester"
            id="org.eclipsetrader.ui.charts.propertyTester"
            namespace="org.eclipsetrader.ui"
            properties="id,chartObjectFactory,adapts"
            type="org.eclipsetrader.ui.charts.ChartViewItem">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipsetrader.ui.internal.charts.tools.LinePropertiesPage"
            id="org.eclipsetrader.ui.charts.tools.line"
            name="Tool">
         <enabledWhen>
               <test
                     property="org.eclipsetrader.ui.adapts"
                     value="org.eclipsetrader.ui.internal.charts.tools.LineToolFactory">
               </test>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="org.eclipsetrader.ui.internal.charts.DataUpdateWizard"
            icon="icons/view16/linecharticon.gif"
            id="org.eclipsetrader.ui.charts.update"
            name="Historical Data">
         <description>
            Import / Update historical prices data.
         </description>
      </wizard>
   </extension>

</plugin>
