<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipsetrader.ui.indicators" name="Chart Indicators" schema="schema/indicators.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsetrader.ui.internal.charts.ChartsPerspective"
            icon="icons/view16/linecharticon.gif"
            id="org.eclipsetrader.ui.charts"
            name="Charts">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.charts.views.ChartView"
            icon="icons/view16/linecharticon.gif"
            id="org.eclipsetrader.ui.chart"
            name="Chart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="org.eclipsetrader.activities.hideContributions"
            pattern="org.eclipsetrader.ui.charts/org.eclipsetrader.ui.chart">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open a chart for the selected object."
            id="org.eclipsetrader.ui.file.open.chart"
            name="Open Chart">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipsetrader.ui.file.open.chart">
         <class
               class="org.eclipsetrader.ui.internal.charts.views.ChartOpenHandler">
         </class>
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.file.open">
         <class class="org.eclipsetrader.ui.internal.charts.views.ChartOpenHandler"></class>
         <activeWhen>
            <and>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="org.eclipsetrader.ui.charts.trigger">
                     </equals>
                  </iterate>
               </with>
               <count
                     value="+">
               </count>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.eclipsetrader.ui.file.open.chart">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipsetrader.core.instruments.Security">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipsetrader.ui.charts.trigger"
            label="Trigger Action Set">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipsetrader.ui.traderPerspective">
         <perspectiveShortcut
               id="org.eclipsetrader.ui.charts">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
