<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipsetrader.ui.indicators" name="Chart Indicators" schema="schema/indicators.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsetrader.ui.internal.charts.ChartsPerspective"
            icon="icons/view16/chart_persp.png"
            id="org.eclipsetrader.ui.charts"
            name="%charts.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.charts.views.ChartViewPart"
            icon="icons/view16/chart.png"
            id="org.eclipsetrader.ui.chart"
            name="%charts.view.name">
      </view>
      <view
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.charts.views.PaletteView"
            icon="icons/view16/palette.png"
            id="org.eclipsetrader.ui.charts.palette"
            name="%charts.palette.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="org.eclipsetrader.activities.hideContributions"
            pattern="org.eclipsetrader.ui.charts/org.eclipsetrader.ui.chart">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%openchart.command.description"
            id="org.eclipsetrader.ui.file.open.chart"
            name="%openchart.command.name">
      </command>
      <command
            id="org.eclipsetrader.ui.charts.zoomIn"
            name="%zoomin.command.name">
      </command>
      <command
            id="org.eclipsetrader.ui.charts.zoomOut"
            name="%zoomout.command.name">
      </command>
      <command
            id="org.eclipsetrader.ui.charts.zoomReset"
            name="%normalsize.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipsetrader.ui.file.open.chart">
         <class
               class="org.eclipsetrader.ui.internal.charts.views.ChartOpenHandler">
         </class>
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.file.open">
         <class class="org.eclipsetrader.ui.internal.charts.views.ChartOpenHandler"></class>
         <activeWhen>
            <and>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="org.eclipsetrader.ui.charts.trigger">
                     </equals>
                  </iterate>
               </with>
               <count
                     value="+">
               </count>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.eclipsetrader.ui.file.open.chart">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipsetrader.core.instruments.Security">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipsetrader.ui.charts.trigger"
            label="Trigger Action Set">
      </actionSet>
      <actionSet
            description="%drawingtools.actionset.description"
            id="org.eclipsetrader.ui.charts.tools"
            label="%tools.actionset.label">
         <action
               icon="icons/etool16/fiboarc.gif"
               id="org.eclipsetrader.ui.charts.tools.fiboarc"
               label="%fiboarc.action.label"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/fanline.gif"
               id="org.eclipsetrader.ui.charts.tools.fanline"
               label="%fanline.action.label"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/fiboline.gif"
               id="org.eclipsetrader.ui.charts.tools.fiboline"
               label="%fiboline.action.label"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/line.gif"
               id="org.eclipsetrader.ui.charts.tools.line"
               label="%linea.action.label"
               retarget="true"
               style="toggle"
               toolbarPath="additions">
         </action>
      </actionSet>
      <actionSet
            description="%zoomtools.actionset.description"
            id="org.eclipsetrader.ui.charts.zoom"
            label="%zoomtools.actionset.label">
         <action
               icon="icons/etool16/zoom_out.gif"
               id="org.eclipsetrader.ui.charts.zoomOut"
               label="%zoomout.action.label"
               retarget="true"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/zoom_reset.gif"
               id="org.eclipsetrader.ui.charts.zoomReset"
               label="%normalsize.action.label"
               retarget="true"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               icon="icons/etool16/zoom_in.gif"
               id="org.eclipsetrader.ui.charts.zoomIn"
               label="%zoomin.action.label"
               retarget="true"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipsetrader.ui.traderPerspective">
         <perspectiveShortcut
               id="org.eclipsetrader.ui.charts">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipsetrader.ui.indicators">
      <category
            icon="icons/obj16/linecharticon.gif"
            id="org.eclipsetrader.ui.charts.indicators.top"
            name="%topindicators.category.name">
      </category>
      <category
            icon="icons/obj16/linecharticon.gif"
            id="org.eclipsetrader.ui.charts.indicators.bottom"
            name="%bottomindicators.category.name">
      </category>
      <category
            icon="icons/obj16/build_exec.png"
            id="org.eclipsetrader.ui.charts.tools"
            name="%tools.category.name">
      </category>
   </extension>
   <extension
         point="org.eclipsetrader.ui.indicators">
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.LineToolFactory"
            icon="icons/etool16/line.gif"
            id="org.eclipsetrader.ui.charts.tools.line"
            name="%line.indicator.name">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.FibolineToolFactory"
            icon="icons/etool16/fiboline.gif"
            id="org.eclipsetrader.ui.charts.tools.fiboline"
            name="%fiboline.indicator.name">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.FanlineToolFactory"
            icon="icons/etool16/fanline.gif"
            id="org.eclipsetrader.ui.charts.tools.fanline"
            name="%fanline.indicator.name">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.tools"
            class="org.eclipsetrader.ui.internal.charts.tools.FiboarcToolFactory"
            icon="icons/etool16/fiboarc.gif"
            id="org.eclipsetrader.ui.charts.tools.fiboarc"
            name="%fiboarc.indicator.name">
      </indicator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipsetrader.ui.internal.charts.views.GeneralPreferencesPage"
            id="org.eclipsetrader.ui.charts.general"
            name="%charts.preferencepage.name">
      </page>
      <page
            category="org.eclipsetrader.ui.charts.general"
            class="org.eclipsetrader.ui.internal.charts.DefaultsPage"
            id="org.eclipsetrader.ui.charts.defaults"
            name="Default Values">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipsetrader.ui.internal.charts.ChartViewItemPropertyTester"
            id="org.eclipsetrader.ui.charts.propertyTester1"
            namespace="org.eclipsetrader.ui"
            properties="id,chartObjectFactory,adapts"
            type="org.eclipsetrader.ui.charts.ChartViewItem">
      </propertyTester>
      <propertyTester
            class="org.eclipsetrader.ui.internal.charts.ChartViewItemPropertyTester"
            id="org.eclipsetrader.ui.charts.propertyTester2"
            namespace="org.eclipsetrader.ui"
            properties="id,chartObjectFactory,adapts"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipsetrader.ui.internal.charts.tools.LinePropertiesPage"
            id="org.eclipsetrader.ui.charts.tools.line"
            name="%line.propertypage.name">
         <enabledWhen>
               <test
                     property="org.eclipsetrader.ui.adapts"
                     value="org.eclipsetrader.ui.internal.charts.tools.LineToolFactory">
               </test>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="org.eclipsetrader.ui.internal.charts.DataUpdateWizard"
            icon="icons/view16/linecharticon.gif"
            id="org.eclipsetrader.ui.charts.update"
            name="%importdata.wizard.name">
         <description>
            %importdata.wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipsetrader.ui.charts.zoomIn"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_ADD">
      </key>
      <key
            commandId="org.eclipsetrader.ui.charts.zoomOut"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_SUBTRACT">
      </key>
      <key
            commandId="org.eclipsetrader.ui.charts.zoomReset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_EQUAL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipsetrader.ui.internal.charts.EarlyStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipsetrader.ui.internal.charts.views.MainPropertiesPage"
            id="org.eclipsetrader.ui.charts.default.general"
            name="General">
         <enabledWhen>
               <test
                     property="org.eclipsetrader.ui.adapts"
                     value="org.eclipsetrader.ui.internal.charts.views.MainChartFactory">
               </test>
         </enabledWhen>
      </page>
    </extension>
</plugin>
