<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsetrader.ui.internal.TraderPerspective"
            icon="icons/eview16/trader_persp.gif"
            id="org.eclipsetrader.ui.traderPerspective"
            name="%traderPerspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipsetrader.ui.internal.preferences.WorkbenchPreferencePage"
            id="org.eclipse.ui.preferencePages.Workbench"
            name="General">
      </page>
      <page
            class="org.eclipsetrader.ui.internal.preferences.PluginsPage"
            id="org.eclipsetrader.ui.preferences.plugins"
            name="%pluginsPreferencesPageName">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipsetrader.ui"
            name="%viewsCategoryName">
      </category>
      <view
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.navigator.Navigator"
            icon="icons/eview16/navigator.gif"
            id="org.eclipsetrader.ui.views.navigator"
            name="%navigatorViewName">
      </view>
      <view
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.markets.MarketsView"
            icon="icons/eview16/markets.gif"
            id="org.eclipsetrader.ui.views.markets"
            name="%marketsViewName">
      </view>
      <view
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.repositories.RepositoryExplorer"
            icon="icons/eview16/repositories.gif"
            id="org.eclipsetrader.ui.views.repositories"
            name="%repositoryExplorerViewName">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.views.WatchListView"
            icon="icons/eview16/watchlist.gif"
            id="org.eclipsetrader.ui.views.watchlist"
            name="WatchList">
      </view>
      <view
            class="org.eclipsetrader.ui.internal.views.TickersView"
            icon="icons/eview16/watchlist.gif"
            id="org.eclipsetrader.ui.views.tickers"
            name="Tickers">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipsetrader.ui"
            class="org.eclipsetrader.ui.internal.views.Level2View"
            icon="icons/eview16/watchlist.gif"
            id="org.eclipsetrader.ui.views.level2"
            name="Level II">
      </view>
   </extension>
   <extension
         point="org.eclipsetrader.core.providers">
      <provider
            class="org.eclipsetrader.ui.internal.providers.AskPriceFactory"
            id="org.eclipsetrader.ui.providers.AskPrice"
            name="Ask Price">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.AskSizeFactory"
            id="org.eclipsetrader.ui.providers.AskSize"
            name="Ask Size">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.BidPriceFactory"
            id="org.eclipsetrader.ui.providers.BidPrice"
            name="Bid Price">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.BidSizeFactory"
            id="org.eclipsetrader.ui.providers.BidSize"
            name="Bid Size">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.FeedIdentifierFactory"
            id="org.eclipsetrader.ui.providers.FeedIdentifier"
            name="Feed Identifier">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.LastTradePriceFactory"
            id="org.eclipsetrader.ui.providers.LastTrade"
            name="Last Trade">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.LastTradeSizeFactory"
            id="org.eclipsetrader.ui.providers.LastTradeSize"
            name="Last Trade Size">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.LastTradeTimeFactory"
            id="org.eclipsetrader.ui.providers.LastTradeTime"
            name="Last Trade Time">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.PositionFactory"
            id="org.eclipsetrader.ui.providers.Position"
            name="Position">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.PurchaseDateFactory"
            id="org.eclipsetrader.ui.providers.PurchaseDate"
            name="Purchase Date">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.PurchasePriceFactory"
            id="org.eclipsetrader.ui.providers.PurchasePrice"
            name="Purchase Price">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.SecurityNameFactory"
            id="org.eclipsetrader.ui.providers.SecurityName"
            name="Security Name">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.TradeVolumeFactory"
            id="org.eclipsetrader.ui.providers.TradeVolume"
            name="Trade Volume">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.OpenPriceFactory"
            id="org.eclipsetrader.ui.providers.OpenPrice"
            name="Open Price">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.HighestPriceFactory"
            id="org.eclipsetrader.ui.providers.HighestPrice"
            name="Highest Price">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.LowestPriceFactory"
            id="org.eclipsetrader.ui.providers.LowestPrice"
            name="Lowest Price">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.MarketValueFactory"
            id="org.eclipsetrader.ui.providers.MarketValue"
            name="Market Value">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.LastClosePriceFactory"
            id="org.eclipsetrader.ui.providers.LastClosePrice"
            name="Last Close Price">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.ChangePercentageFactory"
            id="org.eclipsetrader.ui.providers.ChangePercentage"
            name="Change %">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.ChangeFactory"
            id="org.eclipsetrader.ui.providers.Change"
            name="Change">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.ChangeAmountFactory"
            id="org.eclipsetrader.ui.providers.ChangeAmount"
            name="Change Amount">
      </provider>
      <provider
            class="org.eclipsetrader.ui.internal.providers.TrendFactory"
            id="org.eclipsetrader.ui.providers.Trend"
            name="Trend">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipsetrader.ui.wizards.general"
            name="General">
      </category>
      <wizard
            category="org.eclipsetrader.ui.wizards.general"
            class="org.eclipsetrader.ui.internal.securities.wizards.SecurityWizard"
            hasPages="true"
            icon="icons/etool16/newfile_wiz.gif"
            id="org.eclipsetrader.ui.wizards.new.security"
            name="Security"
            preferredPerspectives="org.eclipsetrader.ui.traderPerspective">
         <description>
            Create a new security.
         </description>
      </wizard>
      <wizard
            category="org.eclipsetrader.ui.wizards.general"
            class="org.eclipsetrader.ui.internal.views.WatchListWizard"
            hasPages="true"
            icon="icons/etool16/newwatchlist_wiz.gif"
            id="org.eclipsetrader.ui.wizards.new.watchList"
            name="WatchList"
            preferredPerspectives="org.eclipsetrader.ui.traderPerspective"
            project="true">
         <description>
            Create a new watchlist.
         </description>
      </wizard>
      <wizard
            category="org.eclipsetrader.ui.wizards.general"
            class="org.eclipsetrader.ui.internal.markets.MarketWizard"
            hasPages="true"
            icon="icons/obj16/market.gif"
            id="org.eclipsetrader.ui.wizards.new.market"
            name="Market"
            preferredPerspectives="org.eclipsetrader.ui.traderPerspective">
         <description>
            Create a new market.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.file.open">
         <class
               class="org.eclipsetrader.ui.internal.handlers.WatchListOpenHandler">
         </class>
         <activeWhen>
            <and>
               <count
                     value="+">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipsetrader.core.views.IWatchList">
                  </adapt>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.file.properties">
         <class
               class="org.eclipsetrader.ui.internal.handlers.SecurityPropertiesHandler">
         </class>
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.file.properties">
         <class
               class="org.eclipsetrader.ui.internal.handlers.MarketPropertiesHandler">
         </class>
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipsetrader.core.internal.markets.Market">
                  </adapt>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipsetrader.ui.level2.open">
         <class
               class="org.eclipsetrader.ui.internal.handlers.Level2OpenHandler">
         </class>
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.eclipse.ui.file.open"
               mnemonic="O">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipsetrader.core.views.IWatchList">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.eclipsetrader.ui.level2.open"
               mnemonic="O">
            <visibleWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipsetrader.core.instruments.Security">
                  </adapt>
               </iterate>
            </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="org.eclipsetrader.activities.hideContributions"
            pattern="org.eclipsetrader.ui/org.eclipsetrader.ui.views.watchlist">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipsetrader.ui.import.data"
            name="Data">
      </category>
      <category
            id="org.eclipsetrader.ui.import.instruments"
            name="Instruments">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipsetrader.ui.launcher"
            label="Launcher">
         <action
               class="org.eclipsetrader.ui.internal.StopFeedAction"
               disabledIcon="icons/dtool16/stop.gif"
               icon="icons/etool16/stop.gif"
               id="org.eclipsetrader.ui.launcher.stop"
               label="Stop"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipsetrader.ui.internal.StartFeedAction"
               disabledIcon="icons/dtool16/run.gif"
               icon="icons/etool16/run.gif"
               id="org.eclipsetrader.ui.launcher.run"
               label="Start"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipsetrader.ui.level2.open"
            name="Open Level II">
      </command>
   </extension>

</plugin>
