<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.eclipsetrader.dukascopy"
   name="Dukascopy Data Provider Plug-in"
   version="0.11.0"
   provider-name=""
   class="net.sourceforge.eclipsetrader.dukascopy.DukascopyPlugin">

   <runtime>
      <library name="dukascopy.jar">
         <export name="*"/>
      </library>
      <library name="lib/feeder.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="net.sourceforge.eclipsetrader"/>
   </requires>
   <extension
         point="net.sourceforge.eclipsetrader.dataProvider">
      <provider
            label="Dukascopy Data Feed"
            class="net.sourceforge.eclipsetrader.dukascopy.SnapshotDataProvider"
            id="net.sourceforge.eclipsetrader.dukascopy.dataProvider"/>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.chartDataProvider">
      <provider
            label="Dukascopy Chart Data"
            class="net.sourceforge.eclipsetrader.dukascopy.ChartDataProvider"
            id="net.sourceforge.eclipsetrader.dukascopy.chartProvider"/>
   </extension>

</plugin>
