<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         name="DirectaWorld"
         point="org.eclipsetrader.core.connectors">
      <connector
            class="org.eclipsetrader.directaworld.internal.core.connector.SnapshotConnector"
            id="org.eclipsetrader.directaworld.connector"
            name="DirectaWorld">
      </connector>
   </extension>
   <extension
         name="Borsa Italiana"
         point="org.eclipsetrader.core.connectors">
      <property
            id="org.eclipsetrader.borsaitalia.isin"
            name="ISIN">
      </property>
      <property
            id="org.eclipsetrader.borsaitalia.code"
            name="Code">
      </property>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipsetrader.ui.preferences.plugins"
            class="org.eclipsetrader.directaworld.internal.ui.preferences.GeneralPreferencePage"
            id="org.eclipsetrader.directaworld.authentication"
            name="DirectaWorld">
      </page>
   </extension>

</plugin>
