<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipsetrader.ui.indicators">
      <indicator
            category="org.eclipsetrader.ui.charts.indicators"
            class="org.eclipsetrader.ui.charts.indicators.AD"
            description="Chaikin A/D Line"
            id="org.eclipsetrader.indicators.ad"
            name="AD">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators"
            class="org.eclipsetrader.ui.charts.indicators.ADOSC"
            description="Chaikin A/D Oscillator"
            id="org.eclipsetrader.indicators.adosc"
            name="ADOSC">
      </indicator>
      <indicator
            class="org.eclipsetrader.ui.charts.indicators.BARS"
            description="Bars"
            exclusive="false"
            id="org.eclipsetrader.indicators.bars"
            name="BAR">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators"
            class="org.eclipsetrader.ui.charts.indicators.BBANDS"
            description="Bollinger Bands"
            exclusive="false"
            id="org.eclipsetrader.indicators.bbands"
            name="BBANDS">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators"
            class="org.eclipsetrader.ui.charts.indicators.MA"
            description="Moving Average"
            exclusive="false"
            id="org.eclipsetrader.indicators.ma"
            name="MA">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators"
            class="org.eclipsetrader.ui.charts.indicators.RSI"
            description="Relative Strength Index"
            id="org.eclipsetrader.indicators.rsi"
            name="RSI">
      </indicator>
      <indicator
            class="org.eclipsetrader.ui.charts.indicators.VOLUME"
            description="Volume"
            id="org.eclipsetrader.indicators.volume"
            name="VOL">
      </indicator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.GeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.general"
            name="General">
         <enabledWhen>
            <and>
               <test
                     property="org.eclipsetrader.ui.adapts"
                     value="org.eclipsetrader.ui.charts.ILineDecorator">
               </test>
               <test
                     property="org.eclipsetrader.ui.adapts"
                     value="org.eclipsetrader.ui.internal.charts.indicators.IGeneralPropertiesAdapter">
               </test>
            </and>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.MAPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.ma"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.ma">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.BBANDSGeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.bbands.general"
            name="General">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.bbands">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.BBANDSPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.bbands.indicator"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.bbands">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.RSIPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.rsi"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.rsi">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.ADOSCPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.adosc"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.adosc">
            </test>
         </enabledWhen>
      </page>
   </extension>

</plugin>
