<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipsetrader.ui.indicators">
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.AD"
            description="Chaikin A/D Line"
            id="org.eclipsetrader.indicators.ad"
            location="bottom"
            name="AD">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.ADX"
            description="A/D Movement Index"
            id="org.eclipsetrader.indicators.adx"
            location="bottom"
            name="ADX">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.ADXR"
            description="A/D Movement Index Rating"
            id="org.eclipsetrader.indicators.adxr"
            location="bottom"
            name="ADXR">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.ADOSC"
            description="Chaikin A/D Oscillator"
            id="org.eclipsetrader.indicators.adosc"
            location="bottom"
            name="ADOSC">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.APO"
            description="Absolute Price Oscillator"
            id="org.eclipsetrader.indicators.apo"
            location="bottom"
            name="APO">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.AROON"
            description="Aroon"
            id="org.eclipsetrader.indicators.aroon"
            location="bottom"
            name="AROON">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.AROONOSC"
            description="Aroon Oscillator"
            id="org.eclipsetrader.indicators.aroonosc"
            location="bottom"
            name="AROONOSC">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.AVGPRICE"
            description="Average Price"
            id="org.eclipsetrader.indicators.avgprice"
            location="bottom"
            name="AVGPRICE">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.ATR"
            description="Average True Range"
            id="org.eclipsetrader.indicators.atr"
            location="bottom"
            name="ATR">
      </indicator>
      <indicator
            class="org.eclipsetrader.ui.charts.indicators.BARS"
            description="Bars"
            id="org.eclipsetrader.indicators.bars"
            location="top"
            name="BAR">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.top"
            class="org.eclipsetrader.ui.charts.indicators.BBANDS"
            description="Bollinger Bands"
            exclusive="false"
            id="org.eclipsetrader.indicators.bbands"
            location="top"
            name="BBANDS">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.BOP"
            description="Balance Of Power"
            id="org.eclipsetrader.indicators.bop"
            location="bottom"
            name="BOP">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.CCI"
            description="Commodity Channel Index"
            id="org.eclipsetrader.indicators.cci"
            location="bottom"
            name="CCI">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.CMO"
            description="Chande Momentum Oscillator"
            id="org.eclipsetrader.indicators.cmo"
            location="bottom"
            name="CMO">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.DX"
            description="Directional Movement Index"
            id="org.eclipsetrader.indicators.dx"
            location="bottom"
            name="DX">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.top"
            class="org.eclipsetrader.ui.charts.indicators.LINEARREG"
            description="Linear Regression"
            id="org.eclipsetrader.indicators.linearreg"
            location="top"
            name="LINEARREG">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.top"
            class="org.eclipsetrader.ui.charts.indicators.MA"
            description="Moving Average"
            exclusive="false"
            id="org.eclipsetrader.indicators.ma"
            location="top"
            name="MA">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.MACD"
            description="M/A Convergence/Divergence"
            id="org.eclipsetrader.indicators.macd"
            location="bottom"
            name="MACD">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.MFI"
            description="Money Flow Index"
            id="org.eclipsetrader.indicators.mfi"
            location="bottom"
            name="MFI">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.MOM"
            description="Momentum"
            id="org.eclipsetrader.indicators.mom"
            location="bottom"
            name="MOM">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.NATR"
            description="Normalized Average True Range"
            id="org.eclipsetrader.indicators.natr"
            location="bottom"
            name="NATR">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.OBV"
            description="On Balance Volume"
            id="org.eclipsetrader.indicators.obv"
            location="bottom"
            name="OBV">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.PPO"
            description="Percentage Price Oscillator"
            id="org.eclipsetrader.indicators.ppo"
            location="bottom"
            name="PPO">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.ROC"
            description="Rate of Change"
            id="org.eclipsetrader.indicators.roc"
            location="bottom"
            name="ROC">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.RSI"
            description="Relative Strength Index"
            id="org.eclipsetrader.indicators.rsi"
            location="bottom"
            name="RSI">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.SAR"
            description="Parabolic SAR"
            id="org.eclipsetrader.indicators.sar"
            location="bottom"
            name="SAR">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.STOCH"
            description="Stochastic"
            id="org.eclipsetrader.indicators.stoch"
            location="bottom"
            name="STOCH">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.STOCHRSI"
            description="Stochastic RSI"
            id="org.eclipsetrader.indicators.stochrsi"
            location="bottom"
            name="STOCHRSI">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.SUM"
            description="Summation"
            id="org.eclipsetrader.indicators.sum"
            location="bottom"
            name="SUM">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.TRANGE"
            description="True Range"
            id="org.eclipsetrader.indicators.trange"
            location="bottom"
            name="TRANGE">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.TRIX"
            description="1-day ROC of a Triple Smooth EMA"
            id="org.eclipsetrader.indicators.trix"
            location="bottom"
            name="TRIX">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.TSF"
            description="Time Series Forecast"
            id="org.eclipsetrader.indicators.tsf"
            location="bottom"
            name="TSF">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.TYPPRICE"
            description="Typical Price"
            id="org.eclipsetrader.indicators.typprice"
            location="bottom"
            name="TYPPRICE">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.ULTOSC"
            description="Ultimate Oscillator"
            id="org.eclipsetrader.indicators.ultosc"
            location="bottom"
            name="ULTOSC">
      </indicator>
      <indicator
            class="org.eclipsetrader.ui.charts.indicators.VOLUME"
            description="Volume"
            id="org.eclipsetrader.indicators.volume"
            location="bottom"
            name="VOL">
      </indicator>
      <indicator
            category="org.eclipsetrader.ui.charts.indicators.bottom"
            class="org.eclipsetrader.ui.charts.indicators.VAR"
            description="Variance"
            id="org.eclipsetrader.indicators.var"
            location="bottom"
            name="VAR">
      </indicator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.GeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.general"
            name="General">
         <enabledWhen>
            <and>
               <test
                     property="org.eclipsetrader.ui.adapts"
                     value="org.eclipsetrader.ui.charts.ILineDecorator">
               </test>
               <test
                     property="org.eclipsetrader.ui.adapts"
                     value="org.eclipsetrader.ui.internal.charts.indicators.IGeneralPropertiesAdapter">
               </test>
            </and>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.MAPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.ma"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.ma">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.BBANDSGeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.bbands.general"
            name="General">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.bbands">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.BBANDSPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.bbands.indicator"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.bbands">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.RSIPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.rsi"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.rsi">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.ADOSCPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.adosc"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.adosc">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.ADXPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.adx"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.adx">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.ADXRPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.adxr"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.adxr">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.APOPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.apo"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.apo">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.AROONGeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.aroon.general"
            name="General">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.aroon">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.AROONPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.aroon.indicator"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.aroon">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.AROONOSCPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.aroonosc"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.aroonosc">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.ATRPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.atr"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.atr">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.CMOPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.cmo"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.cmo">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.CCIPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.cci"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.cci">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.DXPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.dx"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.dx">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.MACDGeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.macd.general"
            name="General">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.macd">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.MACDPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.macd.indicator"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.macd">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.MFIPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.mfi"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.mfi">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.MOMPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.mom"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.mom">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.NATRPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.natr"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.natr">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.PPOPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.ppo"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.ppo">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.OBVPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.obv"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.obv">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.ROCPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.roc"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.roc">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.SARPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.sar"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.sar">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.STOCHGeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.stoch.general"
            name="General">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.stoch">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.STOCHPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.stoch.indicator"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.stoch">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.STOCHRSIGeneralPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.stochrsi.general"
            name="General">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.stochrsi">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.STOCHRSIPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.stochrsi.indicator"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.stochrsi">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.SUMPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.sum"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.sum">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.TRIXPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.trix"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.trix">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.TSFPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.tsf"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.tsf">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.ULTOSCPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.ultosc"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.ultosc">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.LINEARREGPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.linearreg"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.linearreg">
            </test>
         </enabledWhen>
      </page>
      <page
            class="org.eclipsetrader.ui.internal.charts.indicators.VARPropertiesPage"
            id="org.eclipsetrader.ui.charts.indicators.var"
            name="Indicator">
         <enabledWhen>
            <test
                  property="org.eclipsetrader.ui.chartObjectFactory"
                  value="org.eclipsetrader.indicators.var">
            </test>
         </enabledWhen>
      </page>
   </extension>

</plugin>
