<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sourceforge.eclipsetrader.charts.indicators">
      <group
            id="net.sourceforge.eclipsetrader.ta-lib"
            name="%group.name"/>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:AD"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.ad"
            name="%ad.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:AD"
               title="%ad.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:ADOSC"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.adosc"
            name="%adosc.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:ADOSC"
               title="%adosc.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:ADX"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.adx"
            name="%adx.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:ADX"
               title="%adx.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:ADXR"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.adx"
            name="%adxr.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:ADXR"
               title="%adxr.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:APO"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.apo"
            name="%apo.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:APO"
               title="%apo.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:AROON"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.aroon"
            name="%aroon.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:AROON"
               title="%aroon.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:AROONOSC"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.aroonosc"
            name="%aroonosc.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:AROONOSC"
               title="%aroonosc.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:AVGPRICE"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.avgprice"
            name="%avgprice.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:AVGPRICE"
               title="%avgprice.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:ATR"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.atr"
            name="%atr.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:ATR"
               title="%atr.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:BBANDS"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.bbands"
            name="%bbands.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:BBANDS"
               title="%bbands.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:BOP"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.bop"
            name="%bop.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:BOP"
               title="%bop.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:CCI"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.cci"
            name="%cci.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:CCI"
               title="%cci.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:CMO"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.cmo"
            name="%cmo.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:CMO"
               title="%cmo.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:DX"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.dx"
            name="%dx.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:DX"
               title="%dx.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:LINEARREG"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.linearreg"
            name="%linearreg.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:LINEARREG"
               title="%linearreg.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:MA"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.ma"
            name="%ma.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:MA"
               title="%ma.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:MACD"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.macd"
            name="%macd.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:MACD"
               title="%macd.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:MFI"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.mfi"
            name="%mfi.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:MFI"
               title="%mfi.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:MOM"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.mom"
            name="%mom.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:MOM"
               title="%mom.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:NATR"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.natr"
            name="%natr.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:NATR"
               title="%natr.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:OBV"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.obv"
            name="%obv.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:OBV"
               title="%obv.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:PPO"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.ppo"
            name="%ppo.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:PPO"
               title="%ppo.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:ROC"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.roc"
            name="%roc.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:ROC"
               title="%roc.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:RSI"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.rsi"
            name="%rsi.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:RSI"
               title="%rsi.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:SAR"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.sar"
            name="%sar.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:SAR"
               title="%sar.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:STOCH"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.stoch"
            name="%stoch.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:STOCH"
               title="%stoch.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:STOCHRSI"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.stochrsi"
            name="%stochrsi.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:STOCHRSI"
               title="%stochrsi.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:SUM"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.sum"
            name="%sum.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:SUM"
               title="%sum.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:TRANGE"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.trange"
            name="%trange.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:TRANGE"
               title="%trange.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:TRIX"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.trix"
            name="%trix.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:TRIX"
               title="%trix.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:TSF"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.tsf"
            name="%tsf.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:TSF"
               title="%tsf.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:TYPPRICE"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.typprice"
            name="%typprice.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:TYPPRICE"
               title="%typprice.preferencePage.title"/>
      </indicator>
      <indicator
            class="net.sourceforge.eclipsetrader.ta_lib.IndicatorsFactory:ULTOSC"
            group="net.sourceforge.eclipsetrader.ta-lib"
            id="net.sourceforge.eclipsetrader.ta-lib.ultosc"
            name="%ultosc.indicator.name">
         <preferencePage
               class="net.sourceforge.eclipsetrader.ta_lib.IndicatorPreferencesFactory:ULTOSC"
               title="%ultosc.preferencePage.title"/>
      </indicator>
   </extension>

</plugin>
