<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.watchlist"/>
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.trading.level2"/>
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.views.transactions"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.feed"
            label="Quote Feed Control"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.StopFeedAction"
               disabledIcon="icons/dtool16/stop.gif"
               icon="icons/etool16/stop.gif"
               id="net.sourceforge.eclipsetrader.trading.stopFeed"
               label="Stop Feed"
               style="push"
               toolbarPath="additions"
               tooltip="Stop quote feed"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.RefreshFeedAction"
               disabledIcon="icons/dtool16/refresh.gif"
               icon="icons/etool16/refresh.gif"
               id="net.sourceforge.eclipsetrader.trading.refreshFeed"
               label="Refresh"
               style="push"
               toolbarPath="additions"
               tooltip="Take a quote snapshot"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.StartFeedAction"
               disabledIcon="icons/dtool16/start.gif"
               icon="icons/etool16/run.gif"
               id="net.sourceforge.eclipsetrader.trading.startFeed"
               label="Start Feed"
               style="push"
               toolbarPath="additions"
               tooltip="Start quote feed"/>
      </actionSet>
      <actionSet
            id="net.sourceforge.eclipsetrader.trading"
            label="Trading"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.NewWatchlistAction"
               icon="icons/etool16/table_add.png"
               id="net.sourceforge.eclipsetrader.trading.newWatchlist"
               label="Watchlist"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="trading"
               tooltip="Create a new watchlist"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.NewTransactionAction"
               icon="icons/etool16/book_add.png"
               id="net.sourceforge.eclipsetrader.trading.newTransaction"
               label="Transaction"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="trading"
               tooltip="Create a new Transaction">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.core.ui.AccountSelection"/>
            </enablement>
         </action>
         <action
               class="net.sourceforge.eclipsetrader.trading.wizards.accounts.AccountWizardAction"
               icon="icons/etool16/coins_add.png"
               id="net.sourceforge.eclipsetrader.trading.newAccount"
               label="Account"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="trading"
               tooltip="Create a new Account"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenWatchlistAction"
               id="net.sourceforge.eclipsetrader.trading.openWatchlist"
               label="Open Watchlist"
               menubarPath="window/additions"
               style="pulldown"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.watchlist"
            label="Watchlist"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.watchlist.table"
            label="Table Layout"
            parentId="net.sourceforge.eclipsetrader.watchlist"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_EVEN_ROWS_BACKGROUND"
            label="Even Rows Background"
            value="255,255,255"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_EVEN_ROWS_FOREGROUND"
            label="Even Rows Foreground"
            value="0,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_ODD_ROWS_BACKGROUND"
            label="Odd Rows Background"
            value="255,255,224"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_ODD_ROWS_FOREGROUND"
            label="Odd Rows Foreground"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2"
            label="Level II"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2"
            id="TRENDBAR_INDICATOR"
            label="Trendbar Indicator"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L1"
            label="1st Price Level"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L1"
            id="LEVEL_1_BACKGROUND"
            label="Background"
            value="0,0,192"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L1"
            id="LEVEL_1_FOREGROUND"
            label="Foreground"
            value="255,255,255"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L2"
            label="2nd Price Level"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L2"
            id="LEVEL_2_BACKGROUND"
            label="Background"
            value="192,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L2"
            id="LEVEL_2_FOREGROUND"
            label="Foreground"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L3"
            label="3rd Price Level"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L3"
            id="LEVEL_3_BACKGROUND"
            label="Background"
            value="0,255,255"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L3"
            id="LEVEL_3_FOREGROUND"
            label="Foreground"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L4"
            label="4th Price Level"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L4"
            id="LEVEL_4_BACKGROUND"
            label="Background"
            value="0,255,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L4"
            id="LEVEL_4_FOREGROUND"
            label="Foreground"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L5"
            label="5th Price Level"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L5"
            id="LEVEL_5_BACKGROUND"
            label="Background"
            value="255,255,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L5"
            id="LEVEL_5_FOREGROUND"
            label="Foreground"
            value="0,0,0"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <view
               id="net.sourceforge.eclipsetrader.views.accounts"
               relationship="stack"
               relative="right"
               visible="true"/>
         <view
               id="net.sourceforge.eclipsetrader.watchlist:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.trading.level2:*"
               relationship="stack"
               relative="right"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.views.transactions:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.patternSearch"
               relationship="stack"
               relative="bottom"
               visible="false"/>
         <actionSet id="net.sourceforge.eclipsetrader.feed"/>
         <actionSet id="net.sourceforge.eclipsetrader.trading"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.accounts"/>
         <view
               id="net.sourceforge.eclipsetrader.views.portfolio"
               relationship="stack"
               relative="bottom"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.portfolio"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="Open Level2"
               menubarPath="top"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.SecurityPatternSearchAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.searchPattern"
               label="Search Pattern"
               menubarPath="group5"/>
      </viewerContribution>
      <viewerContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="Open Level2"
               menubarPath="top"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.SecurityPatternSearchAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.searchPattern"
               label="Search Pattern"
               menubarPath="group5"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.AccountsView"
            icon="icons/eview16/coins.png"
            id="net.sourceforge.eclipsetrader.views.accounts"
            name="Accounts"/>
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.Level2View"
            icon="icons/eview16/application_view_detail.png"
            id="net.sourceforge.eclipsetrader.trading.level2"
            name="Level II"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.PatternSearchView"
            icon="icons/eview16/searchres.gif"
            id="net.sourceforge.eclipsetrader.patternSearch"
            name="Pattern Search"/>
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.TransactionsView"
            icon="icons/eview16/book.png"
            id="net.sourceforge.eclipsetrader.views.transactions"
            name="Transactions"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.PortfolioView"
            icon="icons/eview16/money.png"
            id="net.sourceforge.eclipsetrader.views.portfolio"
            name="Portfolio"/>
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.WatchlistView"
            icon="icons/eview16/table.png"
            id="net.sourceforge.eclipsetrader.watchlist"
            name="Watch List"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="Open Level2"
               menubarPath="top"
               style="push"
               tooltip="Open Level2"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.PatternSearchAction"
               id="net.sourceforge.eclipsetrader.trading.pattern"
               label="Search Pattern..."
               menubarPath="group4"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.WatchlistSettingsAction"
               id="net.sourceforge.eclipsetrader.trading.watchlistSettings"
               label="Settings..."
               menubarPath="group6"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.DeleteWatchlistAction"
               id="net.sourceforge.eclipsetrader.trading.deleteWatchlist"
               label="Delete Watchlist"
               menubarPath="bottom"
               style="push"/>
      </viewContribution>
      <viewContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="Open Level2"
               menubarPath="group1"
               style="push"
               tooltip="Open Level2"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.patterns">
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.ClosingPriceReversalRule"
            id="net.sourceforge.eclipsetrader.patterns.closingpricereversal"
            name="Closing Price Reversal Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.HighLowReversal"
            id="net.sourceforge.eclipsetrader.pattern.highlowreversal"
            name="High / Low Reversal"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.KeyReversal"
            id="net.sourceforge.eclipsetrader.pattern.keyreversal"
            name="Key Reversal"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.ThreeBarRule"
            id="net.sourceforge.eclipsetrader.pattern.threebarsrule"
            name="Three-Bar Closes Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.GapRule"
            id="net.sourceforge.eclipsetrader.pattern.gaprule"
            name="Gap Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.LindahlBuyRule"
            id="net.sourceforge.eclipsetrader.pattern.lindahlbuyrule"
            name="Lindahl Buy Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.LindahlSellRule"
            id="net.sourceforge.eclipsetrader.pattern.lindahlsellrule"
            name="Lindahl Sell Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.DoubleReversalRule"
            id="net.sourceforge.eclipsetrader.pattern.doublereversalrule"
            name="Double Reversal Rule"/>
   </extension>

</plugin>
