<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="alerts" name="%extension-point.name.alerts" schema="schema/alerts.exsd"/>
   <extension-point id="systems" name="%extension-point.name.systems" schema="schema/systems.exsd"/>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.watchlist"/>
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.trading.level2"/>
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.views.transactions"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.feed"
            label="%actionSet.label.feed"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.StopFeedAction"
               disabledIcon="icons/dtool16/stop.gif"
               icon="icons/etool16/stop.gif"
               id="net.sourceforge.eclipsetrader.trading.stopFeed"
               label="%action.label.stopFeed"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.stopFeed"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.RefreshFeedAction"
               disabledIcon="icons/dtool16/refresh.gif"
               icon="icons/etool16/refresh.gif"
               id="net.sourceforge.eclipsetrader.trading.refreshFeed"
               label="%action.label.refreshFeed"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.refreshFeed"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.StartFeedAction"
               disabledIcon="icons/dtool16/run.gif"
               icon="icons/etool16/run.gif"
               id="net.sourceforge.eclipsetrader.trading.startFeed"
               label="%action.label.startFeed"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.startFeed"/>
      </actionSet>
      <actionSet
            id="net.sourceforge.eclipsetrader.trading"
            label="%actionSet.label.trading"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.NewWatchlistAction"
               icon="icons/etool16/table_add.png"
               id="net.sourceforge.eclipsetrader.trading.newWatchlist"
               label="%action.label.newWatchlist"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="trading"
               tooltip="%action.tooltip.newWatchlist"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.NewTransactionAction"
               icon="icons/etool16/book_add.png"
               id="net.sourceforge.eclipsetrader.trading.newTransaction"
               label="%action.label.newTransaction"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="trading"
               tooltip="%action.tooltip.newTransaction">
            <enablement>
               <objectClass name="net.sourceforge.eclipsetrader.core.ui.AccountSelection"/>
            </enablement>
         </action>
         <action
               class="net.sourceforge.eclipsetrader.trading.wizards.accounts.AccountWizardAction"
               icon="icons/etool16/coins_add.png"
               id="net.sourceforge.eclipsetrader.trading.newAccount"
               label="%action.label.newAccount"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="trading"
               tooltip="%action.tooltip.newAccount"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenWatchlistAction"
               id="net.sourceforge.eclipsetrader.trading.openWatchlist"
               label="%action.label.openWatchlist"
               menubarPath="window/additions"
               style="pulldown"/>
      </actionSet>
      <actionSet
            id="net.sourceforge.eclipsetrader.tradingSystem"
            label="%actionSet.label.tradingSystem"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.NewTradingSystemWizardAction"
               icon="icons/etool16/server_add.png"
               id="net.sourceforge.eclipsetrader.trading.system"
               label="%action.label.newTradingSystem"
               menubarPath="file/newWizard/bottom"
               style="push"
               toolbarPath="tradingSystem"
               tooltip="%action.tooltip.newTradingSystem"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.watchlist"
            label="%themeElementCategory.label.watchlist"/>
      <themeElementCategory
            class="net.sourceforge.eclipsetrader.trading.internal.TableViewerThemePreview"
            id="net.sourceforge.eclipsetrader.watchlist.table"
            label="%themeElementCategory.label.tableLayout"
            parentId="net.sourceforge.eclipsetrader.watchlist"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_POSITIVE_FOREGROUND"
            label="%colorDefinition.label.positiveValueForeground"
            value="0,224,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_NEGATIVE_FOREGROUND"
            label="%colorDefinition.label.negativeValueForeground"
            value="224,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_ALERT_BACKGROUND"
            label="%colorDefinition.label.alert"
            value="255,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_EVEN_ROWS_BACKGROUND"
            label="%colorDefinition.label.evenRowsBackground"
            value="255,255,255"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_EVEN_ROWS_FOREGROUND"
            label="%colorDefinition.label.evenRowsForeground"
            value="0,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_ODD_ROWS_BACKGROUND"
            label="%colorDefinition.label.oddRowsBackground"
            value="255,255,224"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_ODD_ROWS_FOREGROUND"
            label="%colorDefinition.label.oddRowsForeground"
            value="0,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_TOTALS_ROWS_BACKGROUND"
            label="%colorDefinition.label.totalRowsBackground"
            value="255,255,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_TOTALS_ROWS_FOREGROUND"
            label="%colorDefinition.label.totalRowsForeground"
            value="0,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.table"
            id="TABLE_TICK_BACKGROUND"
            label="%colorDefinition.label.changedValueBackground"
            value="255,224,0"/>
      <themeElementCategory
            class="net.sourceforge.eclipsetrader.trading.internal.BoxViewerThemePreview"
            id="net.sourceforge.eclipsetrader.watchlist.box"
            label="%themeElementCategory.label.ribbonLayout"
            parentId="net.sourceforge.eclipsetrader.watchlist"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.box"
            id="BOX_FOREGROUND"
            label="%colorDefinition.label.foreground"
            value="0,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.box"
            id="BOX_BACKGROUND"
            label="%colorDefinition.label.background"
            value="255,255,255"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.box"
            id="BOX_POSITIVE_FOREGROUND"
            label="%colorDefinition.label.box.positiveValue"
            value="0,224,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.watchlist.box"
            id="BOX_NEGATIVE_FOREGROUND"
            label="%colorDefinition.label.box.negativeValue"
            value="224,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2"
            label="%themeElementCategory.label.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2"
            id="TRENDBAR_INDICATOR"
            label="%colorDefinition.label.trendbarIndicator"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L1"
            label="%themeElementCategory.label.1priceLevel"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L1"
            id="LEVEL_1_BACKGROUND"
            label="%colorDefinition.label.1priceBackground"
            value="0,0,192"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L1"
            id="LEVEL_1_FOREGROUND"
            label="%colorDefinition.label.1priceForeground"
            value="255,255,255"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L2"
            label="%themeElementCategory.label.2priceLevel"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L2"
            id="LEVEL_2_BACKGROUND"
            label="%colorDefinition.label.2priceBackground"
            value="192,0,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L2"
            id="LEVEL_2_FOREGROUND"
            label="%colorDefinition.label.2priceForeground"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L3"
            label="%themeElementCategory.label.3priceLevel"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L3"
            id="LEVEL_3_BACKGROUND"
            label="%colorDefinition.label.3priceBackground"
            value="0,255,255"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L3"
            id="LEVEL_3_FOREGROUND"
            label="%colorDefinition.label.3priceForeground"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L4"
            label="%themeElementCategory.label.4priceLevel"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L4"
            id="LEVEL_4_BACKGROUND"
            label="%colorDefinition.label.4priceBackground"
            value="0,255,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L4"
            id="LEVEL_4_FOREGROUND"
            label="%colorDefinition.label.4priceForeground"
            value="0,0,0"/>
      <themeElementCategory
            id="net.sourceforge.eclipsetrader.level2.L5"
            label="%themeElementCategory.label.5priceLevel"
            parentId="net.sourceforge.eclipsetrader.level2"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L5"
            id="LEVEL_5_BACKGROUND"
            label="%colorDefinition.label.5priceBackground"
            value="255,255,0"/>
      <colorDefinition
            categoryId="net.sourceforge.eclipsetrader.level2.L5"
            id="LEVEL_5_FOREGROUND"
            label="%colorDefinition.label.5priceForeground"
            value="0,0,0"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <view
               id="net.sourceforge.eclipsetrader.views.accounts"
               relationship="stack"
               relative="right"
               visible="true"/>
         <view
               id="net.sourceforge.eclipsetrader.watchlist:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.trading.level2:*"
               relationship="stack"
               relative="right"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.views.transactions:*"
               relationship="stack"
               relative="center"
               visible="false"/>
         <view
               id="net.sourceforge.eclipsetrader.patternSearch"
               relationship="stack"
               relative="bottom"
               visible="false"/>
         <actionSet id="net.sourceforge.eclipsetrader.feed"/>
         <actionSet id="net.sourceforge.eclipsetrader.trading"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.accounts"/>
         <view
               id="net.sourceforge.eclipsetrader.views.portfolio"
               relationship="stack"
               relative="bottom"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.portfolio"/>
         <view
               id="net.sourceforge.eclipsetrader.views.system"
               relationship="stack"
               relative="center"
               visible="false"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.system"/>
         <view
               id="net.sourceforge.eclipsetrader.trading.test"
               relationship="stack"
               relative="bottom"
               visible="false"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.NewAlertAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.newAlert"
               label="%action.label.newAlert"
               menubarPath="additions"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="%action.label.openLevel2"
               menubarPath="top"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.SecurityPatternSearchAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.searchPattern"
               label="%action.label.searchPattern"
               menubarPath="search"/>
      </viewerContribution>
      <viewerContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="%action.label.openLevel2"
               menubarPath="top"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.SecurityPatternSearchAction"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.searchPattern"
               label="%action.label.searchPattern"
               menubarPath="additions"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.AccountsView"
            icon="icons/eview16/coins.png"
            id="net.sourceforge.eclipsetrader.views.accounts"
            name="%view.name.accounts"/>
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.Level2View"
            icon="icons/eview16/application_view_detail.png"
            id="net.sourceforge.eclipsetrader.trading.level2"
            name="%view.name.level2"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.PatternSearchView"
            icon="icons/eview16/searchres.gif"
            id="net.sourceforge.eclipsetrader.patternSearch"
            name="%view.name.patternSearch"/>
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.TransactionsView"
            icon="icons/eview16/book.png"
            id="net.sourceforge.eclipsetrader.views.transactions"
            name="%view.name.transactions"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.PortfolioView"
            icon="icons/eview16/money.png"
            id="net.sourceforge.eclipsetrader.views.portfolio"
            name="%view.name.portfolio"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.TestRunnerView"
            icon="icons/eview16/computer.png"
            id="net.sourceforge.eclipsetrader.trading.test"
            name="%view.name.tradingSystemTest"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.TradingSystemView"
            icon="icons/eview16/server_database.png"
            id="net.sourceforge.eclipsetrader.views.system"
            name="%view.name.tradingSystems"/>
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.WatchlistView"
            icon="icons/eview16/table.png"
            id="net.sourceforge.eclipsetrader.watchlist"
            name="%view.name.watchlist"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.OrderFormView"
            icon="icons/eview16/table_edit.png"
            id="net.sourceforge.eclipsetrader.trading.trade"
            name="Order Form"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.trading.views.OrdersView"
            icon="icons/eview16/report.png"
            id="net.sourceforge.eclipsetrader.trading.orders"
            name="Orders"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="watchlistView"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="%action.label.openLevel2"
               menubarPath="top"
               style="push"
               tooltip="%action.tooltip.openLevel2"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.PatternSearchAction"
               id="net.sourceforge.eclipsetrader.trading.pattern"
               label="%action.label.searchPattern3"
               menubarPath="search"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.DeleteWatchlistAction"
               id="net.sourceforge.eclipsetrader.trading.deleteWatchlist"
               label="%action.label.deleteWatchlist"
               menubarPath="bottom"
               style="push"/>
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.WatchlistSettingsAction"
               id="net.sourceforge.eclipsetrader.trading.watchlistSettings"
               label="%action.label.settings"
               menubarPath="bottom"
               style="push"/>
      </viewContribution>
      <viewContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.OpenLevel2Action"
               enablesFor="1"
               id="net.sourceforge.eclipsetrader.trading.openLevel2"
               label="%action.label.openLevel2"
               menubarPath="top"
               style="push"
               tooltip="%action.tooltip.openLevel2"/>
      </viewContribution>
      <viewContribution
            id="tradingSystemView"
            targetID="net.sourceforge.eclipsetrader.views.system">
         <action
               class="net.sourceforge.eclipsetrader.trading.actions.RunTradingSystemAction"
               disabledIcon="icons/dtool16/refresh.gif"
               icon="icons/etool16/refresh.gif"
               id="net.sourceforge.eclipsetrader.trading.updateSignals"
               label="%action.label.updateSignals"
               style="push"
               toolbarPath="group4"
               tooltip="%action.tooltip.updateSignals"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.accountProviders">
      <provider
            class="net.sourceforge.eclipsetrader.trading.internal.SimpleAccountProvider"
            id="net.sourceforge.eclipsetrader.accounts.simple"
            name="%provider.name.simple">
         <preferencePage
               class="net.sourceforge.eclipsetrader.trading.wizards.accounts.CommissionsPage"
               description="%preferencePage.description.commissions"
               name="%preferencePage.name.commissions"/>
      </provider>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.patterns">
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.ClosingPriceReversalRule"
            id="net.sourceforge.eclipsetrader.patterns.closingpricereversal"
            name="Closing Price Reversal Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.HighLowReversal"
            id="net.sourceforge.eclipsetrader.pattern.highlowreversal"
            name="High / Low Reversal"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.KeyReversal"
            id="net.sourceforge.eclipsetrader.pattern.keyreversal"
            name="Key Reversal"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.ThreeBarRule"
            id="net.sourceforge.eclipsetrader.pattern.threebarsrule"
            name="Three-Bar Closes Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.GapRule"
            id="net.sourceforge.eclipsetrader.pattern.gaprule"
            name="Gap Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.LindahlBuyRule"
            id="net.sourceforge.eclipsetrader.pattern.lindahlbuyrule"
            name="Lindahl Buy Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.LindahlSellRule"
            id="net.sourceforge.eclipsetrader.pattern.lindahlsellrule"
            name="Lindahl Sell Rule"/>
      <pattern
            class="net.sourceforge.eclipsetrader.trading.patterns.DoubleReversalRule"
            id="net.sourceforge.eclipsetrader.pattern.doublereversalrule"
            name="Double Reversal Rule"/>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.viewLabelProviders">
      <viewContribution
            id="watchlist.standardColumns"
            targetID="net.sourceforge.eclipsetrader.watchlist">
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.AskPrice"
               id="watchlist.askPrice"
               name="Ask Price"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.AskSize"
               id="watchlist.askSize"
               name="Ask Size"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Balance"
               id="watchlist.balance"
               name="Balance"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.BidPrice"
               id="watchlist.bidPrice"
               name="Bid Price"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.BidSize"
               id="watchlist.bidSize"
               name="Bid Size"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Change"
               id="watchlist.change"
               name="Change"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.ChangePercent"
               id="watchlist.changePercent"
               name="Change %"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.ClosePrice"
               id="watchlist.closePrice"
               name="Close"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Code"
               id="watchlist.code"
               name="Code"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Currency"
               id="watchlist.currency"
               name="Currency"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Date"
               id="watchlist.date"
               name="Date"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.DateTime"
               id="watchlist.dateTime"
               name="Date / Time"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Description"
               id="watchlist.description"
               name="Description"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.HighPrice"
               id="watchlist.highPrice"
               name="High"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.LastPrice"
               id="watchlist.lastPrice"
               name="Last"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.LowPrice"
               id="watchlist.lowPrice"
               name="Low"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.OpenPrice"
               id="watchlist.openPrice"
               name="Open"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.PaidPrice"
               id="watchlist.paidPrice"
               name="Paid"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Position"
               id="watchlist.position"
               name="Position"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Time"
               id="watchlist.time"
               name="Time"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.watchlist.Volume"
               id="watchlist.volume"
               name="Volume"
               orientation="right"/>
      </viewContribution>
      <viewContribution
            id="orders.standardColumns"
            targetID="net.sourceforge.eclipsetrader.trading.orders">
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.AveragePriceColumn"
               id="ordersView.averagePrice"
               name="Avg. Price"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.DateTimeColumn"
               id="ordersView.dateTime"
               name="Date / Time"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.FilledQuantityColumn"
               id="ordersView.filledQuantity"
               name="Filled Qty."
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.OrderIdColumn"
               id="ordersView.orderId"
               name="Order Id"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.PriceColumn"
               id="ordersView.price"
               name="Price"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.QuantityColumn"
               id="ordersView.quantity"
               name="Quantity"
               orientation="right"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.SecurityColumn"
               id="ordersView.security"
               name="Security"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.SideColumn"
               id="ordersView.side"
               name="Side"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.StatusColumn"
               id="ordersView.status"
               name="Status"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.StopPriceColumn"
               id="ordersView.stopPrice"
               name="Stop Price"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.SymbolColumn"
               id="ordersView.symbol"
               name="Symbol"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.TradingProviderColumn"
               id="ordersView.tradingProvider"
               name="Provider"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.TypeColumn"
               id="ordersView.type"
               name="Type"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.AccountColumn"
               id="ordersView.account"
               name="Account"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.ValidityColumn"
               id="ordersView.validity"
               name="Validity"
               orientation="left"/>
         <provider
               class="net.sourceforge.eclipsetrader.trading.internal.orders.ExchangeColumn"
               id="ordersView.exchange"
               name="Exchange"
               orientation="left"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.trading.alerts">
      <alert
            class="net.sourceforge.eclipsetrader.trading.alerts.TargetPrice"
            id="net.sourceforge.eclipsetrader.alert.targetprice"
            name="%alert.name.targetPrice">
         <preferencePage
               class="net.sourceforge.eclipsetrader.trading.alerts.TargetPricePreferences"
               name="%preferencePage.name.general"/>
      </alert>
      <alert
            class="net.sourceforge.eclipsetrader.trading.alerts.PriceChange"
            id="net.sourceforge.eclipsetrader.alert.pricechange"
            name="%alert.name.priceChange">
         <preferencePage
               class="net.sourceforge.eclipsetrader.trading.alerts.PriceChangePreferences"
               name="%preferencePage.name.general2"/>
      </alert>
      <alert
            class="net.sourceforge.eclipsetrader.trading.alerts.PriceAlert"
            id="net.sourceforge.eclipsetrader.alert.pricealert"
            name="%alert.name.priceAlert">
         <preferencePage
               class="net.sourceforge.eclipsetrader.trading.alerts.PriceAlertPreferences"
               name="%preferencePage.name.general3"/>
      </alert>
      <alert
            class="net.sourceforge.eclipsetrader.trading.alerts.MovingAverageCrossover"
            id="net.sourceforge.eclipsetrader.alert.macrossover"
            name="%alert.name.macrossover">
         <preferencePage
               class="net.sourceforge.eclipsetrader.trading.alerts.MovingAverageCrossoverPreferences"
               name="%preferencePage.name.general4"/>
      </alert>
      <alert
            class="net.sourceforge.eclipsetrader.trading.alerts.RSICrossover"
            id="net.sourceforge.eclipsetrader.alert.rsicrossover"
            name="%alert.name.rsicrossover">
         <preferencePage
               class="net.sourceforge.eclipsetrader.trading.alerts.RSICrossoverPreferences"
               name="%preferencePage.name.general5"/>
      </alert>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.trading.systems">
      <system
            class="net.sourceforge.eclipsetrader.trading.systems.PatternTrading"
            id="net.sourceforge.eclipsetrader.system.patternTrading"
            name="%system.name.patternTrading">
         <preferencePage
               class="net.sourceforge.eclipsetrader.trading.systems.PatternTradingPreferences"
               description="%preferencePage.description.patternTrading"
               name="%preferencePage.name.patternTrading"/>
      </system>
   </extension>

</plugin>
