<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipsetrader.core.repositories" name="Repository" schema="schema/repository.exsd"/>
   <extension-point id="org.eclipsetrader.core.elementFactories" name="Element Factories" schema="schema/elementFactory.exsd"/>
   <extension-point id="org.eclipsetrader.core.connectors" name="Feed Connectors" schema="schema/connectors.exsd"/>
   <extension-point id="org.eclipsetrader.core.providers" name="Data Providers" schema="schema/providers.exsd"/>
   <extension-point id="org.eclipsetrader.core.launchers" name="Launchers" schema="schema/launchers.exsd"/>
   <extension-point id="org.eclipsetrader.core.trading.systems" name="Trading Systems" schema="schema/systems.exsd"/>
   <extension-point id="org.eclipsetrader.core.trading.alerts" name="Alerts" schema="schema/alerts.exsd"/>
   <extension-point id="org.eclipsetrader.core.trading.brokers" name="Brokers" schema="schema/brokers.exsd"/>
   <extension-point id="org.eclipsetrader.core.ats.javascript" name="JavaScript Extensions" schema="schema/javascript.exsd"/>
   <extension
         point="org.eclipsetrader.core.launchers">
      <launcher
            class="org.eclipsetrader.core.internal.feed.FeedServiceLauncher"
            id="org.eclipsetrader.feed.launcher"
            name="Live Data Feed">
      </launcher>
      <launcher
            class="org.eclipsetrader.core.internal.trading.TradingServiceLauncher"
            id="org.eclipsetrader.trading.launcher"
            name="Trading Service">
      </launcher>
      <launcher
            class="org.eclipsetrader.core.internal.ats.TradingSystemsLauncher"
            id="org.eclipsetrader.core.ats.launcher"
            name="Automated Trading Systems">
      </launcher>
   </extension>
   <extension
         point="org.eclipsetrader.core.trading.alerts">
      <alert
            class="org.eclipsetrader.core.internal.trading.TargetPrice"
            id="org.eclipsetrader.core.trading.alerts.targetprice"
            name="Target Price">
      </alert>
   </extension>

</plugin>
