<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="feeds" name="Security Feed" schema="schema/feeds.exsd"/>
   <extension-point id="news" name="News Provider" schema="schema/news.exsd"/>
   <extension-point id="patterns" name="Price Pattern" schema="schema/patterns.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.securities"
            label="Securities"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.NewSecurityAction"
               icon="icons/etool16/database_add.png"
               id="net.sourceforge.eclipsetrader.newSecurity"
               label="Security"
               menubarPath="file/newWizard/top"
               style="push"
               toolbarPath="additions"
               tooltip="Create new security"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="net.sourceforge.eclipsetrader"
            name="EclipseTrader Hidden Views"/>
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.webbrowser"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.eclipsetrader.core.ui.Perspective"
            id="net.sourceforge.eclipsetrader"
            name="Default"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <actionSet id="net.sourceforge.eclipsetrader.securities"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.securities"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader"/>
         <view
               id="net.sourceforge.eclipsetrader.views.securities"
               relationship="stack"
               relative="left"/>
         <view
               id="net.sourceforge.eclipsetrader.views.events"
               relationship="stack"
               relative="bottom"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.events"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.currencies"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.eclipsetrader.core.ui.preferences.GeneralPreferencesPage"
            id="net.sourceforge.eclipsetrader"
            name="General"/>
      <page
            class="net.sourceforge.eclipsetrader.core.ui.preferences.PluginsPreferencesPage"
            id="net.sourceforge.eclipsetrader.plugins"
            name="Plugins"/>
      <page
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.preferences.ProxyPreferencePage"
            id="net.sourceforge.eclipsetrader.core.proxy"
            name="Network"/>
		<page
            class="net.sourceforge.eclipsetrader.core.ui.preferences.DataPreferencesPage"
            id="net.sourceforge.eclipsetrader.data"
            name="Data"/>
  <page
        category="net.sourceforge.eclipsetrader"
        class="net.sourceforge.eclipsetrader.core.ui.preferences.CurrencyPreferencesPage"
        id="net.sourceforge.eclipsetrader.currency"
        name="Currencies"/>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="securities"
            label="Securities View"/>
      <colorDefinition
            categoryId="securities"
            id="TABLE_BACKGROUND"
            label="Background"
            value="224,224,255"/>
      <colorDefinition
            categoryId="securities"
            id="TABLE_FOREGROUND"
            label="Foreground"
            value="0,0,0"/>
      <fontDefinition
            categoryId="securities"
            id="TABLE_FONT"
            label="Font"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.eclipsetrader"
            name="EclipseTrader"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.CurrencyExchangeView"
            icon="icons/eview16/money.png"
            id="net.sourceforge.eclipsetrader.views.currencies"
            name="Currencies"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.EventsView"
            icon="icons/eview16/page.png"
            id="net.sourceforge.eclipsetrader.views.events"
            name="Events"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.SecuritiesView"
            icon="icons/eview16/database.png"
            id="net.sourceforge.eclipsetrader.views.securities"
            name="Securities"/>
      <view
            allowMultiple="true"
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.WebBrowser"
            icon="icons/eview16/internal_browser.gif"
            id="net.sourceforge.eclipsetrader.webbrowser"
            name="Web Browser"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="currenciesViewContribution"
            targetID="net.sourceforge.eclipsetrader.views.currencies">
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.RefreshCurrenciesAction"
               disabledIcon="icons/dlcl16/nav_refresh.gif"
               icon="icons/elcl16/nav_refresh.gif"
               id="net.sourceforge.eclipsetrader.currencies.refresh"
               label="Update Currency Exchange"
               style="push"
               toolbarPath="group6"
               tooltip="Update Currency Exchange"/>
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.ConvertCurrencyAction"
               id="net.sourceforge.eclipsetrader.currencyConversion"
               label="Convert..."
               menubarPath="additions"
               style="push"/>
      </viewContribution>
   </extension>

</plugin>
