<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="feeds" name="%extension-point.name.Feeds" schema="schema/feeds.exsd"/>
   <extension-point id="news" name="%extension-point.name.News" schema="schema/news.exsd"/>
   <extension-point id="patterns" name="%extension-point.name.Patterns" schema="schema/patterns.exsd"/>
   <extension-point id="accountProviders" name="%extension-point.name.AccountProviders" schema="schema/accountProviders.exsd"/>
   <extension-point id="loggingPreferences" name="Logging Preferences" schema="schema/loggingPreferences.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.securities"
            label="%securitiesActionSet"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.NewSecurityAction"
               icon="icons/etool16/database_add.png"
               id="net.sourceforge.eclipsetrader.newSecurity"
               label="%newSecurityAction"
               menubarPath="file/newWizard/top"
               style="push"
               toolbarPath="additions"
               tooltip="%newSecurityActionTooltip"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="net.sourceforge.eclipsetrader"
            name="%activity.name.Hidden"/>
      <activityPatternBinding
            activityId="net.sourceforge.eclipsetrader"
            pattern="net.sourceforge.eclipsetrader.trading/net.sourceforge.eclipsetrader.webbrowser"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="net.sourceforge.eclipsetrader.core.ui.export.CSVExport"
            icon="icons/wizard16/table.png"
            id="net.sourceforge.eclipsetrader.export.csv"
            name="%wizard.name.CSV">
         <description>
            %wizard.description.ExportCSV
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.eclipsetrader.core.ui.Perspective"
            id="net.sourceforge.eclipsetrader"
            name="%perspective.name.Default"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <actionSet id="net.sourceforge.eclipsetrader.securities"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.securities"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader"/>
         <view
               id="net.sourceforge.eclipsetrader.views.securities"
               relationship="stack"
               relative="left"/>
         <view
               id="net.sourceforge.eclipsetrader.views.events"
               relationship="stack"
               relative="bottom"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.events"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.currencies"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.eclipsetrader.core.ui.preferences.GeneralPreferencesPage"
            id="net.sourceforge.eclipsetrader"
            name="%page.name.General"/>
      <page
            class="net.sourceforge.eclipsetrader.core.ui.preferences.PluginsPreferencesPage"
            id="net.sourceforge.eclipsetrader.plugins"
            name="%page.name.Plugins"/>
      <page
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.preferences.ProxyPreferencePage"
            id="net.sourceforge.eclipsetrader.core.proxy"
            name="%page.name.Network"/>
		<page
            class="net.sourceforge.eclipsetrader.core.ui.preferences.DataPreferencesPage"
            id="net.sourceforge.eclipsetrader.data"
            name="%page.name.Data"/>
  <page
        category="net.sourceforge.eclipsetrader"
        class="net.sourceforge.eclipsetrader.core.ui.preferences.CurrencyPreferencesPage"
        id="net.sourceforge.eclipsetrader.currency"
        name="%page.name.Currencies"/>
  <page
        class="net.sourceforge.eclipsetrader.core.ui.preferences.LoggerPreferencesPage"
        id="net.sourceforge.eclipsetrader.core.logging"
        name="Logging"/>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="securities"
            label="%themeElementCategory.label.SecuritiesView"/>
      <colorDefinition
            categoryId="securities"
            id="TABLE_BACKGROUND"
            label="%colorDefinition.label.Background"
            value="224,224,255"/>
      <colorDefinition
            categoryId="securities"
            id="TABLE_FOREGROUND"
            label="%colorDefinition.label.Foreground"
            value="0,0,0"/>
      <fontDefinition
            categoryId="securities"
            id="TABLE_FONT"
            label="%fontDefinition.label"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.eclipsetrader"
            name="%categoryName"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.CurrencyExchangeView"
            icon="icons/eview16/money.png"
            id="net.sourceforge.eclipsetrader.views.currencies"
            name="%currenciesView"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.EventsView"
            icon="icons/eview16/page.png"
            id="net.sourceforge.eclipsetrader.views.events"
            name="%eventsView"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.SecuritiesView"
            icon="icons/eview16/database.png"
            id="net.sourceforge.eclipsetrader.views.securities"
            name="%securitiesView"/>
      <view
            allowMultiple="true"
            class="net.sourceforge.eclipsetrader.core.ui.views.WebBrowser"
            icon="icons/eview16/internal_browser.gif"
            id="net.sourceforge.eclipsetrader.webbrowser"
            name="%webBrowserView"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="currenciesViewContribution"
            targetID="net.sourceforge.eclipsetrader.views.currencies">
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.RefreshCurrenciesAction"
               disabledIcon="icons/dlcl16/nav_refresh.gif"
               icon="icons/elcl16/nav_refresh.gif"
               id="net.sourceforge.eclipsetrader.currencies.refresh"
               label="%refreshCurrenciesAction"
               style="push"
               toolbarPath="group6"
               tooltip="%refreshCurrenciesActionTooltip"/>
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.ConvertCurrencyAction"
               id="net.sourceforge.eclipsetrader.currencyConversion"
               label="%convertCurrencyAction"
               menubarPath="additions"
               style="push"/>
      </viewContribution>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.loggingPreferences">
      <logger
            defaultValue="info"
            description="Apache HttpClient"
            name="org.apache.commons.httpclient"/>
      <layout
            description="Extended"
            pattern="%%d{ABSOLUTE} %5p %c:%L - %m%n"/>
   </extension>

</plugin>
