<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="feeds" name="Security Feed" schema="schema/feeds.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.eclipsetrader.core.ui.Perspective"
            id="net.sourceforge.eclipsetrader"
            name="EclipseTrader"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.eclipsetrader"
            name="EclipseTrader"/>
      <view
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.views.SecuritiesView"
            icon="icons/eview16/securities.gif"
            id="net.sourceforge.eclipsetrader.views.securities"
            name="Securities"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="securitiesView"
            targetID="net.sourceforge.eclipsetrader.views.securities">
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.NewSecurityAction"
               disabledIcon="icons/dtool16/new_wiz.gif"
               icon="icons/etool16/new_security.gif"
               id="net.sourceforge.eclipsetrader.actions.newSecurity"
               label="New Security"
               style="push"
               toolbarPath="securities"
               tooltip="Create new Security"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.core"
            label="EclipseTrader">
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.StopFeedAction"
               disabledIcon="icons/dtool16/stop.gif"
               icon="icons/etool16/stop.gif"
               id="net.sourceforge.eclipsetrader.core.stopFeed"
               label="Stop Feed"
               style="push"
               toolbarPath="eclipsetrader"
               tooltip="Stop feed"/>
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.RefreshFeedAction"
               disabledIcon="icons/dtool16/refresh.gif"
               icon="icons/etool16/refresh.gif"
               id="net.sourceforge.eclipsetrader.core.refreshFeed"
               label="Refresh"
               style="push"
               toolbarPath="eclipsetrader"
               tooltip="Take a feed snapshot"/>
         <action
               class="net.sourceforge.eclipsetrader.core.ui.actions.StartFeedAction"
               disabledIcon="icons/dtool16/start.gif"
               icon="icons/etool16/run.gif"
               id="net.sourceforge.eclipsetrader.core.startFeed"
               label="Start Feed"
               style="push"
               toolbarPath="eclipsetrader"
               tooltip="Start feed"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <view
               id="net.sourceforge.eclipsetrader.views.securities"
               relationship="stack"
               relative="left"/>
         <actionSet id="net.sourceforge.eclipsetrader.core"/>
         <viewShortcut id="net.sourceforge.eclipsetrader.views.securities"/>
         <newWizardShortcut id="net.sourceforge.eclipsetrader.newSecurityWizard"/>
         <perspectiveShortcut id="net.sourceforge.eclipsetrader"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.eclipsetrader.core.ui.preferences.GeneralPreferencesPage"
            id="net.sourceforge.eclipsetrader"
            name="EclipseTrader"/>
      <page
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.preferences.PluginsPreferencesPage"
            id="net.sourceforge.eclipsetrader.plugins"
            name="Plugins"/>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="net.sourceforge.eclipsetrader"
            name="EclipseTrader Hidden Views"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sourceforge.eclipsetrader"
            name="EclipseTrader"/>
      <wizard
            category="net.sourceforge.eclipsetrader"
            class="net.sourceforge.eclipsetrader.core.ui.wizards.SecurityWizard"
            hasPages="true"
            icon="icons/etool16/new_security.gif"
            id="net.sourceforge.eclipsetrader.newSecurityWizard"
            name="Security"/>
      <primaryWizard id="net.sourceforge.eclipsetrader.newSecurityWizard"/>
   </extension>

</plugin>
