<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="net.sourceforge.eclipsetrader.core.feeds">
      <feed
            id="net.sourceforge.eclipsetrader.borsaitalia"
            name="Borsa Italiana">
         <history class="net.sourceforge.eclipsetrader.borsaitalia.HistoryFeed"/>
      </feed>
   </extension>

</plugin>
