<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sourceforge.eclipsetrader.directaworld"
            label="%actionSet.label.0"
            visible="true">
         <action
               class="net.sourceforge.eclipsetrader.directaworld.actions.NewSecurityAction"
               icon="icons/it.gif"
               id="net.sourceforge.eclipsetrader.directaworld.newSecurity"
               label="%action.label.0"
               menubarPath="file/newWizard/plugins"
               style="push"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sourceforge.eclipsetrader">
         <actionSet id="net.sourceforge.eclipsetrader.directaworld"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.sourceforge.eclipsetrader.plugins"
            class="net.sourceforge.eclipsetrader.directaworld.GeneralPreferencesPage"
            id="net.sourceforge.eclipsetrader.directaworld.general"
            name="%page.name.0"/>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.feeds">
      <feed
            id="%feed.id.0"
            name="%feed.name.0">
         <quote class="net.sourceforge.eclipsetrader.directaworld.Feed"/>
      </feed>
   </extension>

</plugin>
