<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipsetrader.news.providers" name="News Providers" schema="schema/newsProviders.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipsetrader.news.internal.preferences.NewsPreferencesPage"
            id="org.eclipsetrader.ui.preferences.news"
            name="News">
      </page>
      <page
            category="org.eclipsetrader.ui.preferences.news"
            class="org.eclipsetrader.news.internal.preferences.RSSPreferencesPage"
            id="org.eclipsetrader.news.rss"
            name="RSS News">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsetrader.news.internal.ui.Perspective"
            icon="icons/eview16/headlines.png"
            id="org.eclipsetrader.news.perspective"
            name="News">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipsetrader.ui.news"
            class="org.eclipsetrader.news.internal.ui.NewsViewer"
            icon="icons/eview16/browser.png"
            id="org.eclipsetrader.news.browser"
            name="Browser">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipsetrader.ui.news"
            class="org.eclipsetrader.news.internal.ui.HeadLineViewer"
            icon="icons/eview16/headlines.png"
            id="org.eclipsetrader.ui.views.headlines"
            name="Headlines">
      </view>
      <category
            id="org.eclipsetrader.ui.news"
            name="News">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipsetrader.news.internal.ui.NewsDecorator"
            id="org.eclipsetrader.news.decorator"
            label="News Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipsetrader.core.views.IViewItem">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipsetrader.news.providers">
      <provider
            class="org.eclipsetrader.news.internal.connectors.RSSNewsProvider"
            id="org.eclipsetrader.news.rss"
            name="RSS News">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.eclipsetrader.ui.file.open.news">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipsetrader.core.instruments.Security">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="org.eclipsetrader.news.internal.ui.OpenNewsHandler"
            id="org.eclipsetrader.ui.file.open.news"
            name="Open News">
      </command>
   </extension>
   <extension
         point="org.eclipsetrader.core.launchers">
      <launcher
            class="org.eclipsetrader.news.internal.NewsServiceLauncher"
            id="org.eclipsetrader.news.launcher"
            name="News Reader">
      </launcher>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="org.eclipsetrader.news.perspective">
         </perspectiveShortcut>
         <view
               id="org.eclipsetrader.ui.views.headlines:*"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProgressView"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipsetrader.ui.traderPerspective">
         <view
               id="org.eclipsetrader.ui.views.headlines"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProgressView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
