<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.sourceforge.eclipsetrader.plugins"
            class="net.sourceforge.eclipsetrader.fix.ui.preferences.PreferencesPage"
            id="net.sourceforge.eclipsetrader.fix"
            name="Fix"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="net.sourceforge.eclipsetrader.fix.core.ExecutorStartup"/>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.loggingPreferences">
      <logger
            defaultValue="info"
            description="FIX Protocol"
            name="quickfixj"/>
      <logger
            defaultValue="info"
            description="FIX Messages"
            name="quickfixj.msg"/>
   </extension>
   <extension
         point="net.sourceforge.eclipsetrader.core.tradingProviders">
      <provider
            class="net.sourceforge.eclipsetrader.fix.core.BanzaiTradingProvider"
            id="net.sourceforge.eclipsetrader.fix"
            name="Banzai (FIX)"/>
   </extension>

</plugin>
